<div class="sector-list-container">
	<h1>2019 - 2020</h1>
	<h2 class="sector-list-heading">
		<a
			target="_blank"
			href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1g8LC287JR6dOeLe0p8TihwDXDp0wliS-/page/SjBc"
			>FDI performance dashboard</a
		>
		<small>(opens in a new tab)</small>
	</h2>
	<div class="grid-row">
		<div class="column-one-third">
			<h3 class="sector-list-heading">Overseas Regions</h3>
			<p>Links open in a new tab.</p>
			<ul class="list list-bullet">
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/sApc"
						target="_blank"
						>Africa</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/q7oc"
						target="_blank"
						>Asia Pacific</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/y9oc"
						target="_blank"
						>China & Hong Kong</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/DBpc"
						target="_blank"
						>Eastern Europe & Central Asia</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/GBpc"
						target="_blank"
						>Europe</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/ICpc"
						target="_blank"
						>Latin America & The Caribbean</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/ZApc"
						target="_blank"
						>Middle East</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/tBpc"
						target="_blank"
						>North America</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/11O9IwEx-jNoNcW4GzNhsfNRYXJ6_pMvH/page/R9oc"
						target="_blank"
						>South Asia</a
					>
				</li>
			</ul>
		</div>

		<div class="column-one-third">
			<h3 class="sector-list-heading">Sector clusters</h3>
			<p>Links open in a new tab.</p>
			<ul class="list list-bullet">
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1fgAevmp7BDkmj77nQRHaRD-e2QkowwZf/page/q7oc"
						target="_blank"
						>Creative, Lifestyle & Learning
					</a>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1fgAevmp7BDkmj77nQRHaRD-e2QkowwZf/page/5HLd"
						target="_blank"
						>Defence & Security</a
					>
				</li>

				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1fgAevmp7BDkmj77nQRHaRD-e2QkowwZf/page/GrKd"
						target="_blank"
						>Energy & Infrastructure</a
					>
				</li>

				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1fgAevmp7BDkmj77nQRHaRD-e2QkowwZf/page/6PRd"
						target="_blank"
						>Financial & Professional Services
					</a>
				</li>

				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1fgAevmp7BDkmj77nQRHaRD-e2QkowwZf/page/c2Kd"
						target="_blank"
						>Healthcare, Lifesciences & Bio-Economy
					</a>
				</li>

				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1fgAevmp7BDkmj77nQRHaRD-e2QkowwZf/page/hgqd"
						target="_blank"
						>Technology, Entrepreneurship & Advanced Manufacturing</a
					>
				</li>
			</ul>
		</div>

		<div class="column-one-third">
			<h3 class="sector-list-heading">UK Regions</h3>
			<p>Links open in a new tab.</p>
			<ul class="list list-bullet">
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1ZDyIki0ZwXjlu7e5rEqJ3L3j1j_0ImgV/page/iFef"
						target="_blank"
						>Northern Powerhouse</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/u/0/reporting/1SfBxCFadbDb200R87Jc2vyg1KmJ9CKnb/page/tref/edit"
						target="_blank"
						>Midlands Engine</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/10GOYbyxQd__tZZ-hAynG783ozuLTDnPG/page/tref"
						target="_blank"
						>London and devolved administrations</a
					>
				</li>
				<li>
					<a
						href="https://www.google.com/a/data.trade.gov.uk/ServiceLogin?continue=https://datastudio.google.com/embed/reporting/1UiDff08PKX80ILwR4Rnml0vhrUpnW9fJ/page/tref"
						target="_blank"
						>Southern England</a
					>
				</li>
			</ul>
		</div>
	</div>
</div>
