{% extends 'layout.html' %}

{% from 'macros/overview.html' import overviewBlocks, currentValueOver, overviewPie %}
{% from 'macros/dates.html' import financialYear %}

{% set pageName='Overseas Regions Overview' %}

{% block page_content %}

	<h2 class="overseas-regions-overview-heading">All overseas regions review</h2>

	<section class="grid-row">
		<div class="column-half">
			<h3 class="column-date">{{ financialYear( dateRange ) }}</h3>
		</div>
		<div class="column-half">
			{% include 'partials/key.html' %}
		</div>
	</section>

	<table class="overseas-region-overview-data" cellspacing="0">

		<caption class="visually-hidden">
			Region overview group {{ loop.index }}
		</caption>

		<thead{% if loop.index > 1 %} class="visually-hidden"{% endif %}>
			<tr class="overseas-region-overview-data_headings">
				<th class="overseas-region-overview-data_headings_heading" colspan="2">Regions<span class="visually-hidden"> (and countries)</span></th>
				<th class="overseas-region-overview-data_headings_heading">HVC performance<span class="overseas-region-overview-data_headings_heading_sub">(each square equals 1 HVC)</span></th>
				<th class="overseas-region-overview-data_headings_heading">Confirmed wins &pound;</th>
				<th class="overseas-region-overview-data_headings_heading overseas-region-overview-data_headings_heading--target">HVC target &pound;</th>
				<th class="overseas-region-overview-data_headings_heading"><span class="visually-hidden">Progress against target</span></th>
				<th class="overseas-region-overview-data_headings_heading overseas-region-overview-data_headings_heading--hvc-non-hvc">
					Confirmed<br>
					<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--hvc"></span>
					HVC<br>
					<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--non-hvc"></span>
					non-HVC
				</th>
			</tr>
		</thead>

		<tbody>
		{% set loopIndex = 0 -%}

		{%- for group in regionGroups -%}

		{%- for region in group.regions -%}

		{%- set loopIndex = ( loopIndex + 1 ) -%}

		{%- if loopIndex % 2 === 0 -%}
			{%- set rowClass = ' overseas-region-overview-data_region--even' -%}
		{%- else -%}
			{%- set rowClass = '' -%}
		{%- endif -%}

		{%- if loopIndex > 1 and loop.index == 1 -%}
			{%- set firstRowClass = 'overseas-region-overview-data_cell--first ' -%}
		{%- elif loopIndex == 1 and loop.index == 1 -%}
			{%- set firstRowClass = 'overseas-region-overview-data_cell--first-region ' -%}
		{%- else -%}
			{%- set firstRowClass = '' -%}
		{%- endif -%}

			<tr class="overseas-region-overview-data_region{{ rowClass }}">

			{%- if loop.index == 1 %}
				<td class="{{ firstRowClass }}overseas-region-overview-data_cell overseas-region-overview-data_cell--region" rowspan="{{ loop.length }}">
					{{ group.name }}
					<img src="{{ group.image.url }}" width="{{ group.image.width }}" height="{{ group.image.height }}" alt="group map" class="overseas-region-groups_group_image">
				</td>
			{% endif -%}

				<td class="{{ firstRowClass }}overseas-region-overview-data_cell overseas-region-overview-data_cell--name overseas-region-overview-data_cell--{{ region.colour }}">
					<a href="{{ urls.osRegion( region.id ) }}">{{ region.name }}</a>
					<span class="overseas-region-overview-data_cell_countries">
						{{- region.markets | pluralise( 'country', 'countries' ) -}}
					</span>
				</td>
				<td class="{{ firstRowClass }}overseas-region-overview-data_cell overseas-region-overview-data_cell--performance">
					{{- overviewBlocks( region.hvcPerformance ) -}}
				</td>
				<td class="{{ firstRowClass }}overseas-region-overview-data_cell overseas-region-overview-data_cell--current">
					{{- currentValueOver( region.values.hvc ) -}}
				</td>
				<td class="{{ firstRowClass }}overseas-region-overview-data_cell overseas-region-overview-data_cell--target">
					&pound;{{ region.values.hvc.target | largeNumber -}}
				</td>
				<td class="{{ firstRowClass }}overseas-region-overview-data_cell overseas-region-overview-data_cell--progress">
					<span class="visually-hidden">{{- region.value.percentage }}%</span>
				</td>
				<td class="{{ firstRowClass }}overseas-region-overview-data_cell overseas-region-overview-data_cell--hvc-non-hvc">
					{{- overviewPie( region.confirmedPercent.nonHvc ) -}}
				</td>

			</tr>
		{%- endfor -%}
		{%- endfor %}
		</tbody>

	</table>
{% endblock %}
