{% extends 'layout.html' %}

{% from 'macros/overview.html' import overviewBlocks, currentValueOver, overviewPie %}
{% from 'macros/dates.html' import financialYear %}

{% set pageName='Overseas Regions Overview' %}

{% block page_content %}

	<h2 class="overseas-regions-overview-heading">Overseas regions overview</h2>

	<section class="grid-row">
		<div class="column-half">
			<h3 class="column-date">{{ financialYear() }}</h3>
		</div>
		<div class="column-half">
			{% include 'partials/key.html' %}
		</div>
	</section>

	<ol class="overseas-region-groups">
	{% set loopIndex = 0 %}
	{% for group in regionGroups -%}
		
		<li class="overseas-region-groups_group">
			
			<img src="{{ group.image.url }}" width="{{ group.image.width }}" height="{{ group.image.height }}" alt="group map" class="overseas-region-groups_group_image">

			<div class="overseas-region-groups_group_data-wrapper">{# wrapper for flex #}
			<table class="overseas-region-overview-data">

				<caption class="visually-hidden">
					Region overview group {{ loop.index }}
				</caption>

				<thead{% if loop.index > 1 %} class="visually-hidden"{% endif %}>
					<tr class="overseas-region-overview-data_headings">
						<th class="overseas-region-overview-data_headings_heading"><span class="visually-hidden">Region name (and countries)</span></th>
						<th class="overseas-region-overview-data_headings_heading">HVCs<br>(each square equals 1 HVC)</th>
						<th class="overseas-region-overview-data_headings_heading">Current value</th>
						<th class="overseas-region-overview-data_headings_heading overseas-region-overview-data_headings_heading--target">Target</th>
						<th class="overseas-region-overview-data_headings_heading"><span class="visually-hidden">Progress against target</span></th>
						<th class="overseas-region-overview-data_headings_heading overseas-region-overview-data_headings_heading--hvc-non-hvc">
							<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--hvc"></span>
							HVC<br>
							<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--non-hvc"></span>
							non-HVC
						</th>
					</tr>
				</thead>

				<tbody>
				{%- for region in group.regions -%}

					{% set loopIndex = ( loopIndex + 1 ) %}

					<tr class="overseas-region-overview-data_region{% if loopIndex % 2 === 1 %} overseas-region-overview-data_region--odd{% endif %}">

						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_name overseas-region-overview-data_region_name--{{ region.colour }}">
							<a href="{{ uuid }}/overseas-regions/{{ region.id }}/">{{ region.name }}</a>
							<span class="overseas-region-overview-data_region_name_countries">
								{{- region.markets | pluralise( 'country', 'countries' ) -}}
							</span>
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_performance">
							{{- overviewBlocks( region.hvcPerformance ) -}}
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_current">
							{{- currentValueOver( region.values.hvc ) -}}
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_target">
							&pound;{{ region.values.hvc.target | largeNumber }}
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_progress">
							<span class="visually-hidden">{{ region.value.percentage }}%</span>
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_hvc-non-hvc">
							{{ overviewPie( region.confirmedPercent.nonHvc ) }}
						</td>

					</tr>
			
				{%- endfor -%}
				</tbody>

			</table>
			</div>
		</li>

	{%- endfor %}
	</ol>
{% endblock %}
