{% extends 'sector/detail.html' %}

{% from 'macros/tabs/sector-team.html' import tabs %}
{% from 'macros/page-heading.html' import pageHeading %}

{% set pageName %}Sector team performance - {{ teamName | safe }}{% endset %}
{% set loadMoreUrl = urls.sectorTeamTopNonHvc( teamId ) %}

{% block page_heading %}
	{{ pageHeading( teamName, subHeading='Sector Team' ) }}
{% endblock %}

{% block page_content %}
	{{- super() -}}
{% endblock %}

{% block page_tabs %}
	{{ tabs( teamId, performance = true ) }}
{% endblock %}
