{% extends 'layout.html' %}

{% set pageName %}Sector team non HVC wins - {{ sectorTeam.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/win-tables.html' import singleWinTable %}
{% from 'macros/sector-team-tabs.html' import tabs %}

{% block page_content %}

	<h1 class="page-heading">
		{{ sectorTeam.name }} <span class="page-heading-secondary">Sector Team</span>
	</h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( sectorTeam.id, nonHvcWins = true ) }}

	{{ singleWinTable( 'Sector Team', nonHvcWins = wins.non_hvc ) }}

{% endblock %}
