{% extends 'layout.html' %}

{% from 'macros/overview.html' import overviewBlocks, currentValueOver, overviewPie %}
{% from 'macros/dates.html' import financialYear %}
{% from 'macros/page-heading.html' import pageHeading %}

{% set pageName='Sector Teams Overview' %}

{% macro row( sector, index, isHvcGroup=false ) %}

	{%- if isHvcGroup -%}
		{% set sectorUrl = 'hvcGroup' %}
	{%- else -%}
		{% set sectorUrl = 'sectorTeam' %}
	{%- endif -%}

	<tr class="sector-teams-ov-table_row{% if isHvcGroup %} sector-teams-ov-table_row--hvc{% endif %}">
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--name{% if isHvcGroup %} sector-teams-ov-table_cell--hvc-group{% endif %}">
			<a href="{{ urls[ sectorUrl ]( sector.id ) }}">{{ sector.name }}</a>
		</td>
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--performance">
			{% if isHvcGroup %}
			{{- overviewBlocks( sector.hvcPerformance ) -}}
			{% else %}
				{{ sector.totalHvcs }} HVCs
			{% endif %}
		</td>
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--current-value{% if not isHvcGroup %} sector-teams-ov-table_cell--large{% endif %}">
			{{- currentValueOver( sector.values.hvc, ( not isHvcGroup ) ) -}}
		</td>
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--target-value{% if not isHvcGroup %} sector-teams-ov-table_cell--large{% endif %}">
			{{ sector.values.hvc.target | largeNumber -}}
		</td>
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--value-percentage">
			<span class="visually-hidden">{{ sector.values.hvc.targetPercent.confirmed.value }}%</span>
		</td>
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--hvc-non-hvc">
			{%- if sector.confirmedPercent -%}
			{{ overviewPie( sector.confirmedPercent.nonHvc ) }}
			{%- endif -%}
		</td>
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--non-hvc-value">
			{%- if sector.values.nonHvc -%}
			{{ sector.values.nonHvc.current.confirmed | largeNumber }}
			{%- endif -%}
		</td>
		<td class="sector-teams-ov-table_cell sector-teams-ov-table_cell--total-value">
			{%- if sector.values.totals -%}
			{{ sector.values.totals.confirmed | largeNumber }}
			{%- endif -%}
		</td>
	</tr>
{% endmacro %}

{% block page_heading %}
	{{ pageHeading( 'All sector teams review' ) }}
{% endblock %}

{% block page_content %}

	<section class="grid-row">
		<div class="column-half column--relative">
			<h2 class="column-date">{{ financialYear( dateRange ) }}</h2>
			<h3 class="visually-hidden">Confirmed wins values</h3>
		</div>
		<div class="column-half">
			{% include 'partials/hvc-target-performance-key.html' %}
		</div>
	</section>

	{%- set loopIndex = 0 -%}

	<table class="sector-teams-ov-table">
		<caption class="visually-hidden">Performance summary of all sector teams</caption>
		<thead>
			<tr>
				<th class="sector-teams-ov-table_heading">Sectors</th>
				<th class="sector-teams-ov-table_heading">HVCs<span class="sector-teams-ov-table_heading_sub">(each square equals one HVC)</span></th>
				<th class="sector-teams-ov-table_heading">Confirmed wins &pound;</th>
				<th class="sector-teams-ov-table_heading sector-teams-ov-table_heading--target">HVC {{ target|title }} &pound;</th>
				<th class="sector-teams-ov-table_heading"><span class="visually-hidden">Value against {{ target }}</span></th>
				<th class="sector-teams-ov-table_heading sector-teams-ov-table_heading--hvc-non-hvc">
					Confirmed<br>
					<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--hvc"></span>
					HVC<br>
					<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--non-hvc"></span>
					non-HVC
				</th>
				<th class="sector-teams-ov-table_heading">non-HVC value &pound;</th>
				<th class="sector-teams-ov-table_heading">Total confirmed value incl. non-HVC &pound;</th>
			</tr>
		</thead>
		<tbody>

		{%- for team in sectorTeams -%}
			{% set loopIndex = ( loopIndex + 1 ) %}

			{{ row( team, loopIndex ) }}

			{% for hvcGroup in team.hvcGroups %}
				{% set loopIndex = ( loopIndex + 1 ) %}
				{{ row( hvcGroup, loopIndex, true ) }}
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
