{% extends 'layout.html' %}

{% set pageName %}Sector Team - {{ sectorTeam.name | safe }}{% endset %}
{% from 'macros/win-tables.html' import winTables %}
 
{% from 'macros/dates.html' import financialYear %}

{% block page_content %}

	<h1 class="page-heading">
		{{ sectorTeam.name }} <span class="page-heading-secondary">Sector Team</span>
	</h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	<ul class="page-tabs">
		<li class="page-tabs_tab">
			<a class="page-tabs_tab_text" href="{{ urls.sectorTeam( sectorTeam.id ) }}">Performance</a>
		</li>
		<li class="page-tabs_tab page-tabs_tab--active">
			<span class="page-tabs_tab_text">Individual wins</span>
		</li>
	</ul>

	{{ winTables( 'Sector Team', wins ) }}
	
{% endblock %}
