{% extends 'layout.html' %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/hvc-target-performance.html' import hvcTargetPerformanceTable %}

{% set pageName %}HVC Group - {{ sectorName | safe }}{% endset %}

{% block page_content %}

	<h1 class="page-heading">{{ sectorName }} HVCs review</h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date">{{ financialYear( summary.dateRange ) }}</h2>

	<h2 class="visually-hidden">Summary</h2>
	<section class="sector-detail grid-row">
		<div class="column-one-fifth">

			<h3 class="sector-export-heading">Total confirmed export value</h3>
			<p class="sector-export-confirmed-value"><span class="sector-export-value-currency">&pound;</span>{{ summary.confirmedExportValue | largeNumber( true ) | safe }}</p>

		</div>

		<div class="column-one-fifth">

			<h3 class="sector-export-heading">Total unconfirmed export value</h3>
			<p class="sector-export-unconfirmed-value"><span class="sector-export-value-currency">&pound;</span>{{ summary.unconfirmedExportValue | largeNumber( true ) | safe }}</p>

		</div>

		<div class="column-two-fifths">

			<div class="hvc-group_chart">

					<h3 class="hvc-group_confirmed-heading">Confirmed and unconfirmed wins value</h3>
					{% include 'partials/confirmed-vs-unconfirmed-wins.html' %}

			</div>

		</div>
		<div class="column-one-fifth">

			<p class="sector-overview_charts_chart_average-time">
				Average time to confirm <span class="sector-overview_charts_chart_average-time_days">{{ summary.averageTimeToConfirm | pluralise( 'day' ) }}</span>
			</p>

		</div>
	</section>

	<hr>

	<section class="sector-wins grid-row">

		<div class="column-single">
			<h3 class="sector-wins_heading">HVC export wins</h3>
		</div>

		<div class="column-six-elevenths">
			<h4 class="sector-heading sector-heading--target">Total confirmed against target</h4>
			{% include 'partials/hvc-performance-summary.html' %}
		</div>

		<div class="column-five-elevenths">
			{% include 'partials/key.html' %}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading">{{ sectorName }} HVCs</h2>
			<h3 class="sub-heading-date">{{ financialYear( hvcTargetPerformance.dateRange ) }}</h3>
			{{ hvcTargetPerformanceTable( hvcTargetPerformance.withTarget, linkHvc=linkHvc ) }}
		</div>
	</section>

	{% if hvcTargetPerformance.zeroTarget.length %}
	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading sector-heading--zero-target">HVCs with no target in 2016-17</h2>
			{% include 'partials/zero-target-performance.html' %}
		</div>
	</section>
	{% endif %}

	<section class="grid-row row-separator">
		<div class="column-two-thirds">
			<h2 class="sector-heading">{{ sectorName }} HVCs monthly performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( monthlyPerformance.dateRange ) }}</h3>
		</div>
		<div class="column-one-third">
			{% include 'partials/monthly-performance-key.html' %}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			{% include 'partials/monthly-performance.html' %}
		</div>
	</section>


{% endblock %}

{%- block pageScript %}
<script>
	mi.pages.sector({
		isOver: '{{ hvcSummary.progress.over }}',
		confirmedPercent: '{{ hvcSummary.progress.confirmed }}',
		unconfirmedPercent: '{{ hvcSummary.progress.unconfirmed }}'
	});
</script>
{% endblock pageScript -%}
