{% extends 'layout.html' %}

{% set pageName %}HVC group wins - {{ hvcGroup.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/table-standard-types.html' import hvcWinTable %}
{% from 'macros/tabs/hvc-group.html' import tabs %}
{% from 'macros/page-heading.html' import pageHeading %}

{% block page_heading %}
	{{ pageHeading( hvcGroup.name, subHeading='HVC Group' ) }}
{% endblock %}

{% block page_content %}

	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( hvcGroup.id, hvcWins = true ) }}

	{{ hvcWinTable( 'HVC Group', wins ) }}

{% endblock %}
