{% extends 'layout.html' %}

{% set pageName %}HVC group wins - {{ hvcGroup.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/win-tables.html' import singleWinTable %}
{% from 'macros/tabs/hvc-group.html' import tabs %}

{% block page_content %}

	<h1 class="page-heading">
		{{ hvcGroup.name }} <span class="page-heading_secondary">HVC Group</span>
	</h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( hvcGroup.id, hvcWins = true ) }}

	{{ singleWinTable( 'HVC Group', hvcWins = wins ) }}

{% endblock %}
