{% from 'macros/tabs/tab.html' import tab %}

{% macro tabs( osRegionId, performance = false, hvcPerformance = false, nonHvcPerformance = false, hvcProjects = false, nonHvcProjects = false ) -%}

	{% set perfHref = urls.investment.osRegion( osRegionId ) %}
	{% set hvcPerfHref = urls.investment.osRegionHvcPerformance( osRegionId ) %}
	{% set nonHvcPerfHref = urls.investment.osRegionNonHvcPerformance( osRegionId ) %}
	{% set hvcProjectsHref = urls.investment.osRegionHvcProjects( osRegionId ) %}
	{% set nonHvcProjectsHref = urls.investment.osRegionNonHvcProjects( osRegionId ) %}

	{% if performance %}
		{% set perfHref = '' %}
	{% endif %}

	{% if hvcPerformance %}
		{% set hvcPerfHref = '' %}
	{% endif %}

	{% if nonHvcPerformance %}
		{% set nonHvcPerfHref = '' %}
	{% endif %}

	{% if hvcProjects %}
		{% set hvcProjectsHref = '' %}
	{% endif %}

	{% if nonHvcProjects %}
		{% set nonHvcProjectsHref = '' %}
	{% endif %}

	<ul class="page-tabs">
		{{ tab( 'Performance', href = perfHref ) }}
		{{ tab( 'HVC', href = hvcPerfHref ) }}
		{{ tab( 'Non HVC', href = nonHvcPerfHref ) }}
		{{ tab( 'HVC projects', href = hvcProjectsHref ) }}
		{{ tab( 'Non HVC projects', href = nonHvcProjectsHref ) }}
	</ul>

{%- endmacro %}
