{% macro tableHeadingClass( key, sortKey, sortDir ) -%}
	win-table_head_cell{% if key === sortKey %} win-table_head_cell--sorted-{{ sortDir }}{% endif %}
{%- endmacro %}

{% macro projectTable( projects, hvc=false, nonHvc=false ) %}
{% set currentUrl = urls.current() %}
<div class="grid-row">
	<div class="column-single">
		<table class="win-table project-table--{% if hvc %}hvc{% else %}non-hvc{% endif %}">
			<caption class="visually-hidden">
				{% if nonHvc %}Non {% endif %}HVC projects, sorted by {{ projects.sortName }} {{ projects.sortDirName }}
			</caption>
			<thead>
				<tr class="win-table_head_row">
					<th class="{{ tableHeadingClass( 'company', projects.sortKey, projects.sortDir ) }}">
						<a href="{{ urls.addSort( currentUrl, 'company', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link win-table_head_cell_double-heading" title="Sort by Company name">
							Company Name<span class="visually-hidden"> and </span>
							<span class="win-table_head_cell_sub-heading">Reference number</span>
						</a>
					</th>
					<th class="{{ tableHeadingClass( 'code', projects.sortKey, projects.sortDir ) }}">
						<a href="{{ urls.addSort( currentUrl, 'code', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link" title="Sort by Project Code">
							Project code
						</a>
					</th>
					<th class="{{ tableHeadingClass( 'manager', projects.sortKey, projects.sortDir ) }}">
						<a href="{{ urls.addSort( currentUrl, 'manager', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link" title="Sort by Manager">
							Manager
						</a>
					</th>
					<th class="{{ tableHeadingClass( 'stage', projects.sortKey, projects.sortDir ) }}">
						<a href="{{ urls.addSort( currentUrl, 'stage', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link" title="Sort by Stage">
							Stage
						</a>
					</th>
					<th class="{{ tableHeadingClass( 'date', projects.sortKey, projects.sortDir ) }} win-table_head_cell--date">
						<a href="{{ urls.addSort( currentUrl, 'date', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link" title="Sort by date">
							Date
						</a>
					</th>
					<th class="{{ tableHeadingClass( 'value', projects.sortKey, projects.sortDir ) }}">
						<a href="{{ urls.addSort( currentUrl, 'value', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link" title="Sort by Value">
							Value
						</a>
					</th>
					<th class="{{ tableHeadingClass( 'new-jobs', projects.sortKey, projects.sortDir ) }}">
						<a href="{{ urls.addSort( currentUrl, 'new-jobs', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link" title="Sort by New Jobs">
							New<br>Jobs
						</a>
					</th>
					<th class="{{ tableHeadingClass( 'safe-jobs', projects.sortKey, projects.sortDir ) }}">
						<a href="{{ urls.addSort( currentUrl, 'safe-jobs', projects.sortKey, projects.sortDir ) }}" class="win-table_head_cell_link" title="Sort by Safeguarded jobs">
							Safeguarded<br>jobs
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
			{%- for project in projects %}

				<tr class="win-table_body_row">
					<td class="win-table_cell project-table_cell--company">
						<span class="win-table_cell_company-name">{{ project.company.name }}</span>
						<span class="win-table_cell_cdms-ref">{{ project.company.reference }}</span>
					</td>
					<td class="win-table_cell project-table_cell--code">{{ project.code }}</td>
					<td class="win-table_cell project-table_cell--manager">{{- project.relationshipManager -}}</td>
					<td class="win-table_cell project-table_cell--stage">{{- project.stage -}}</td>
					<td class="win-table_cell project-table_cell--date">{{ project.date | dateOnly }}</td>
					<td class="win-table_cell project-table_cell--export">
						&pound;{{ project.investmentValue | largeNumber }}
					</td>
					<td class="win-table_cell project-table_cell--new-jobs">{{- project.jobs.new -}}</td>
					<td class="win-table_cell project-table_cell--safe-jobs">{{- project.jobs.safe -}}</td>
				</tr>

			{%- endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endmacro %}
