{% from 'macros/tabs/tab.html' import tab %}

{% macro tabs( ukRegionId, performance = false, hvcPerformance = false, nonHvcPerformance = false, hvcProjects = false, nonHvcProjects = false ) -%}

	{% set perfHref = urls.investment.ukRegion( ukRegionId ) %}
	{% set hvcPerfHref = urls.investment.ukRegionHvcPerformance( ukRegionId ) %}
	{% set nonHvcPerfHref = urls.investment.ukRegionNonHvcPerformance( ukRegionId ) %}
	{% set hvcProjectsHref = urls.investment.ukRegionHvcProjects( ukRegionId ) %}
	{% set nonHvcProjectsHref = urls.investment.ukRegionNonHvcProjects( ukRegionId ) %}

	{% if performance %}
		{% set perfHref = '' %}
	{% endif %}

	{% if hvcPerformance %}
		{% set hvcPerfHref = '' %}
	{% endif %}

	{% if nonHvcPerformance %}
		{% set nonHvcPerfHref = '' %}
	{% endif %}

	{% if hvcProjects %}
		{% set hvcProjectsHref = '' %}
	{% endif %}

	{% if nonHvcProjects %}
		{% set nonHvcProjectsHref = '' %}
	{% endif %}

	<ul class="page-tabs">
		{{ tab( 'Performance', href = perfHref ) }}
		{{ tab( 'HVC', href = hvcPerfHref ) }}
		{{ tab( 'Non HVC', href = nonHvcPerfHref ) }}
		{{ tab( 'HVC wins', href = hvcProjectsHref ) }}
		{{ tab( 'Non HVC wins', href = nonHvcProjectsHref ) }}
	</ul>

{%- endmacro %}
