
.update-banner {
	border: 3px solid $govuk-blue;
	padding: pem( 15 );
	color: $govuk-blue;
	max-width: pem( 650 );
}

.update-banner_heading {
	@include bold-19;
	margin: 0 0 pem( 15, 19 ) 0;
}

.update-banner_text {

	margin-bottom: 0;

	&:first-of-type {
		margin-top: 0;
	}
}
