@import "_deprecated/colours";

$base-font-size: 16px;
$baseline-grid-unit: 4px;
$default-spacing-unit: $baseline-grid-unit * 4;

.l-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: $default-spacing-unit;
	padding-right: $default-spacing-unit;
	max-width: $site-width;

	@include media($min-width: $site-width) {
		padding-left: 0;
		padding-right: 0;
	}
}

.c-global-nav {
	@include bold-16( $line-height: 1.5 );
	background: $grey-3;
	padding: $default-spacing-unit / 4 0;
	position: relative;

	@include media(tablet) {
		padding: 0;
	}
}

.c-global-nav__link {
	display: block;
	padding: $default-spacing-unit / 4 0;
	text-decoration: none;

	&:hover,
	&:link,
	&:visited,
	&:active {
		color: $black;
	}

	&.is-active {
		color: $govuk-blue;
	}

	@include media(tablet) {
		border-bottom: 5px solid transparent;
		display: inline-block;
		padding: ($default-spacing-unit / 2) 0 3px;

		& + & {
			margin-left: $default-spacing-unit;
		}

		&:hover {
			border-bottom-color: $light-blue;
		}

		&.is-active {
			border-bottom-color: $govuk-blue;
		}
	}
}
