@import '_deprecated/colours';
@import '_deprecated/typography';
@import 'helpers';
@import 'mi-colours';

$keyBoxSize: 12px;

.hvc-perf {
	position: relative;
}

.hvc-perf_table {
	border-collapse: collapse;
	line-height: 1.1;
}

.hvc-perf_table_row {

	&:hover {
		background-color: $grey-4;
	}
}

.hvc-perf_table_cell_heading {
	@include bold-14;
	vertical-align: bottom;
	text-align: left;
}

.hvc-perf_table_cell_heading--campaign {
	@include bold-16;
}

.hvc-perf_table_cell_heading--target-percentage,
.hvc-perf_table_cell_heading-confirmed-value,
.hvc-perf_table_cell_heading--target {
	padding-left: 0.5em;
}

.hvc-perf_table_cell_heading--target {
	text-align: right;
	padding-right: 1.5em;
}

.hvc-perf_table_cell_heading--wins {
	text-align: right;
}

.hvc-perf_table_cell {
	padding: 0.25em 0.5em 0.25em 0.5em;
	position: relative;
	@include core-14;
	overflow: hidden;//IE 11 fix as it calculates the wrong height of .hvc-perf_table_cell_50-percent and .hvc-perf_table_cell_over-percentage
}

$campaign-width: 24%;
$percent-complete-width: 26%;
$over-target-width: 4%;
$hvc-percent-width: 10%;
$confirmed-width: 12%;
$combined-width: 10%;
$target-width: 10%;
$wins-width: 4%;
//above should equal 100%
//used in _zero-target-perf-table as well to match values

.hvc-perf_table_cell--campaign {
	width: $campaign-width;
	padding-left: 0
}

.hvc-perf_table_cell--percent-complete {
	width: $percent-complete-width;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding-left: 0;
	padding-right: 0;
}

.hvc-perf_table_cell--over-target {
	width: $over-target-width;
	padding-left: 0;
	padding-right: 0;
}

.hvc-perf_table_cell--confirmed {
	text-align: right;
	width: $confirmed-width;
	padding-right: 1.5em;
}

.hvc-perf_table_cell--unconfirmed {
	text-align: right;
	width: $combined-width;
	padding-right: 1.5em;
}

.hvc-perf_table_cell--target {
	text-align: right;
	width: $target-width;
	padding-right: 1.5em;
}

.hvc-perf_table_cell--hvc-percent {
	width: $hvc-percent-width;
	text-align: center;
}

.hvc-perf_table_cell--wins {
	width: $wins-width;
	text-align: right;
}

.hvc-perf_table_cell_hvc-id {
	display: inline-block;
	min-width: 16%;
	vertical-align: top;
}

.hvc-perf_table_cell_hvc-name {
	display: inline-block;
	max-width: 80%;
}

.hvc-perf_status {
	width: 100%;
	display: inline-block;
}

.hvc-perf_status--green {
	background-color: $mi-green;
	color: #fff;
}

.hvc-perf_status--amber {
	background-color: $mi-amber;
}

.hvc-perf_status--red {
	background-color: $mi-red;
	color: #fff;
}

.hvc-perf_status--zero {
	border: 1px solid $unconfirmed;
}

.hvc-perf_table_cell_bar {
	display: inline-block;
	height: 20px;
	position: relative;
	z-index: 10;
}

.hvc-perf_table_cell_bar--green,
.hvc-perf_table_cell_bar--amber,
.hvc-perf_table_cell_bar--red {
	background-color: $hvc;
}

.hvc-perf_table_cell_bar--unconfirmed {
	background-color: $unconfirmed;
}


$parts: ( 100 / 125 );

@mixin leftPosition( $percent ){

	left: ( $parts * $percent );
}

.hvc-perf_row_percent-markers--top {
	border-bottom: 1px solid #000;
}

.hvc-perf_row_percent-markers--bottom {
	border-top: 1px solid #000;
}

.hvc-perf_table_cell_50-percent {
	position: absolute;
	right: 0;
	top: 0;
	width: ( $parts * 75% );
	height: 250%;//IE 11 fix as it calculates the wrong height!
	border-left: 1px solid $grey-3;
	z-index: 1;
}

.hvc-perf_table_cell_over-percentage {
	position: absolute;
	right: 0;
	top: 0;
	width: ( $parts * 25% );
	height: 250%;//IE 11 fix as it calculates the wrong height!
	background-color: $grey-4;
	border-left: 2px solid #000;
	z-index: 1;
}

.hvc-perf_percent-markers {
	position: relative;
	min-height: 1em;
}

.hvc-perf_percent-markers_marker {
	position: absolute;
	top: 0;
	@include core-14;
}

.hvc-perf_percent-markers_marker--0 {
	left: 0;
}

.hvc-perf_percent-markers_marker--25 {
	@include leftPosition( 25% );
}

.hvc-perf_percent-markers_marker--50 {
	@include leftPosition( 50% );
}

.hvc-perf_percent-markers_marker--75 {
	@include leftPosition( 75% );
}

.hvc-perf_percent-markers_marker--100 {
	@include leftPosition( 100% );
}

.hvc-perf_percent-markers_marker--125 {
	@include leftPosition( 125% );
}

.hvc-peft_percent-markers_marker_text {
	margin-left: -50%;
	padding-top: 0;
	display: inline-block;
}

$over-arrow-size: 10px;

.hvc-perf_table_cell_over-marker {
	width: 0;
	height: 0;
	border-top: $over-arrow-size solid transparent;
	border-bottom: $over-arrow-size solid transparent;
	display: inline-block;
}

.hvc-perf_table_cell_over-marker--green,
.hvc-perf_table_cell_over-marker--amber,
.hvc-perf_table_cell_over-marker--red {
	border-left: $over-arrow-size solid $hvc;
}

.hvc-perf_table_cell_over-marker--unconfirmed {
	border-left: $over-arrow-size solid $unconfirmed;
}


$arrow-size: 10px;

.hvc-perf_table_cell_arrow {
	width: 0;
	height: 0;
	border-left: $arrow-size solid transparent;
	border-right: $arrow-size solid transparent;
	display: inline-block;
}

.hvc-perf_table_cell_arrow--up {
	border-bottom: $arrow-size solid $mi-green;
}

.hvc-perf_table_cell_arrow--down {
	border-top: $arrow-size solid $mi-red;
}
