@import 'mi-colours';

.mp-key {
	border: 1px solid $grey-2;
	padding: pem( 10 );
}

.mp-key_list {
	margin: 0;
	padding: 0;
	@include core-14;
}

.mp-key_list_item--hvc-confirmed,
.mp-key_list_item--non-hvc-confirmed,
.mp-key_list_item--non-export-confirmed {
	margin-top: pem( 5, 14 );
}

.mp-key_list_item_block {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: pem( 10, 14 );
}

@mixin mp-key-block-unconfirmed {

	height: 5px;
	margin-bottom: 2px;
}

.mp-key_list_item_block--hvc-confirmed {
	background-color: $hvc;
}

.mp-key_list_item_block--hvc-unconfirmed {
	background-color: $hvc-unconfirmed;
	@include mp-key-block-unconfirmed;
}

.mp-key_list_item_block--non-hvc-confirmed {
	background-color: $non-hvc;
}

.mp-key_list_item_block--non-hvc-unconfirmed {
	background-color: $non-hvc-unconfirmed;
	@include mp-key-block-unconfirmed;
}

.mp-key_list_item_block--non-export-confirmed {
	background-color: $non-export;
}

.mp-key_list_item_block--non-export-unconfirmed {
	background-color: $non-export-unconfirmed;
	@include mp-key-block-unconfirmed;
}

.mp-key_list_item_block--target {
	background-color: #000;
}
