.page-nav {

	@include media( tablet ){

		border-bottom: 1px solid $grey-2;
		padding: 0;
		overflow: hidden;
	}
}

.page-nav--heading {

	@include media( tablet ){

		margin-bottom: pem( 60 );
	}
}

.page-nav--divider {

	.page-nav_list {
		margin: pem( 15 ) 0;
	}



	@include media( tablet ){

		margin-top: pem( 45 );
		margin-bottom: pem( 30 );

		.page-nav_list {
			margin: 0;
		}

		.page-nav_link {
			min-width: pem( 100 );
		}
	}
}

.page-nav_list {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.page-nav_link {

	text-decoration: none;
	color: $link-colour;
	display: inline-block;
	text-align: left;
	padding: pem( 5 ) 0;

	@include media( tablet ) {

		text-align: center;
		padding: 0;
	}
}

.page-nav_link--active {

	border-bottom: 2px solid $link-colour;

	@include media( tablet ){

		padding-bottom: pem( 5 );
		border-bottom: 5px solid $link-colour
	}
}

.page-nav_list_item {

	margin-bottom: pem( 10 );

	@include media( tablet ){

		padding-left: pem( 10 );
		margin-left: pem( 10 );
		margin-bottom: 0;
		display: inline-block;

		&:first-of-type {
			border-left: 0;
			padding-left: 0;
			margin-left: 0;
		}
	}
}
