@import '_deprecated/typography';
@import 'mi-colours';

$size: 40px;

/*
Pie code taken from https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/
Thanks Lea!
*/

.pie {
	position: relative;
	width: $size;
	height: $size;
	line-height: $size;
	border-radius: 50%;
	background: $pie-default;
	background-image: linear-gradient(to right, transparent 50%, $pie-default-wedge 0);
	color: transparent;
	text-align: center;
	vertical-align: top;
}

$sector-size: 66px;
.pie--sector {
	width: $sector-size;
	height: $sector-size;
	line-height: $sector-size;
}

$fdi-size-mobile: 55px;
$fdi-size-desktop: 80px;
.pie--fdi {

	width: $fdi-size-mobile;
	height: $fdi-size-mobile;
	line-height: $fdi-size-mobile;

	@include media( tablet ){

		width: $fdi-size-desktop;
		height: $fdi-size-desktop;
		line-height: $fdi-size-desktop;
	}
}

.pie--hvc-vs-non {
	background: $hvc;
	background-image: linear-gradient(to right, transparent 50%, $non-hvc 0);
}

.pie--confirmed-vs-un {
	background: $confirmed;
	background-image: linear-gradient(to right, transparent 50%, $unconfirmed 0);
}

.pie--fdi-hvc-vs-non {
	background: $fdi-hvc;
	background-image: linear-gradient(to right, transparent 50%, $fdi-non-hvc 0);
}

.pie--fdi-stage {
	background: $fdi-won;
	background-image: linear-gradient(to right, transparent 50%, $fdi-verify-win 0);
}

.pie--center {
	margin-left: auto;
	margin-right: auto;
}

.pie--inline {
	display: inline-block;
}

.pie--sector-team {
	@extend .pie--hvc-vs-non;
	@extend .pie--inline;
	@extend .pie--sector;
}

.pie--fdi-performance-hvc {
	@extend .pie--fdi-hvc-vs-non;
	@extend .pie--inline;
	@extend .pie--fdi;
}

.pie--fdi-performance-stage {
	@extend .pie--fdi-stage;
	@extend .pie--inline;
	@extend .pie--fdi;
}

@keyframes spin {
	to { transform: rotate( .5turn ); }
}
@keyframes bg {
	50% { background: $pie-default-wedge; }
}

@keyframes bg-non-hvc {
	50% { background: $non-hvc; }
}

@keyframes bg-unconfirmed {
	50% { background: $unconfirmed; }
}

@keyframes bg-fdi-non-hvc {
	50% { background: $fdi-non-hvc; }
}

@keyframes bg-fdi-stage {
	50% { background: $fdi-verify-win; }
}

.pie::before {
	content: '';
	position: absolute;
	top: 0; left: 50%;
	width: 50%; height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	animation: spin 50s linear infinite, bg 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.pie--hvc-vs-non::before {
	animation: spin 50s linear infinite, bg-non-hvc 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.pie--confirmed-vs-un::before {
	animation: spin 50s linear infinite, bg-unconfirmed 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.pie--fdi-hvc-vs-non::before {
	animation: spin 50s linear infinite, bg-fdi-non-hvc 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.pie--fdi-stage::before {
	animation: spin 50s linear infinite, bg-fdi-stage 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.pie-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	@include bold-14;
	padding-top: 25%;
}


.pie-key {
	list-style: none;
	padding: 0 0 0 pem( 8 );
	margin: 0;
}

.pie-key--inline {
	display: inline-block;
}

.pie-key_item {
	@include core-14;
	margin-bottom: pem( 5, 14 );
}

.pie-key_item_percentage {
	@include bold-14;
}

.pie-key_text {
	display: block;
	margin-left: 15px;
}

.pie-key_block {
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: $pie-default;
	margin-right: pem( 5, 14 );
}

.pie-key_block--slice {
	background-color: $pie-default-wedge;
}

.pie-key--hvc-vs-non {
	.pie-key_block {
		background-color: $hvc;
	}
	.pie-key_block--slice {
		background-color: $non-hvc;
	}
}

.pie-key--confirmed-vs-un {
	.pie-key_block {
		background-color: $confirmed;
	}
	.pie-key_block--slice {
		background-color: $unconfirmed;
	}
}

.pie-key--fdi-hvc-vs-non {
	.pie-key_block {
		background-color: $fdi-hvc;
	}
	.pie-key_block--slice {
		background-color: $fdi-non-hvc;
	}
}

.pie-key--fdi-stage {
	.pie-key_block {
		background-color: $fdi-won;
	}
	.pie-key_block--slice {
		background-color: $fdi-verify-win;
	}
}
