@import 'mi-colours';

.table-standard {
	border-collapse: collapse;
	line-height: 1;
}

.table-standard_head_row {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-align: left;
}

.table-standard_body_row {

	border-bottom: 1px solid $grey-2;

	&:last-of-type {
		border-bottom: 0;
	}
}

$table-standard-cell-padding: 5;

.table-standard_head_cell {

	padding: pem( 8, 15.2 ) pem( $table-standard-cell-padding, 15.2 );
	font-size: 95%;
	text-align: left;
}

.table-standard_head_cell--sorted-asc,
.table-standard_head_cell--sorted-desc {

	&:after {
		color: $link-colour;
		margin-left: pem( -$table-standard-cell-padding - 3, 15.2 );// 95% font-size
	}

	padding-right: 0;
}

.table-standard_head_cell--sorted-asc {
	&:after {
		content: "\00a0\00a0\25B2";
	}
}

.table-standard_head_cell--sorted-desc {
	&:after {
		content: "\00a0\00a0\25BC";
	}
}

.table-standard_head_cell_double-heading {
	float: left;
}

.table-standard_head_cell_sub-heading {
	color: $grey-1;
	font-size: 90%;
	display: block;
	padding-top: pem( 3, 14 );
}

.table-standard_head_cell_link,
.table-standard_head_cell_link:visited,
.table-standard_head_cell_link:hover,
.table-standard_head_cell_link:link {
	text-decoration: none;
	color: $link-colour;
}

.table-standard_cell {
	padding: pem( 8 ) pem( $table-standard-cell-padding );
}
