.top-nav {
	border-bottom: 1px solid $grey-2;
	padding: 0.5em 0;
 	margin-bottom: 0.5em;
 	overflow: hidden;
}

.top-nav_list {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.top-nav_list_item {

	margin-bottom: pem( 5 );

	@include media( tablet ){

		border-left: 1px solid $grey-2;
		padding-left: pem( 10 );
		margin-left: pem( 10 );
		margin-bottom: 0;
		display: inline-block;

		&:first-of-type {
			border-left: 0;
			padding-left: 0;
			margin-left: 0;
		}
	}
}
