@import 'mi-colours';

.win-table_head_cell--date {
	text-align: center;
}

.win-table--hvc {

	.win-table_cell--company {
		width: 16%;
	}

	.win-table_cell--hvc {
		width: 18%;
	}

	.win-table_cell--officer {
		width: 13%;
	}

	.win-table_cell--country {
		width: 10%;
	}

	.win-table_cell--uk-region {
		width: 12%;
	}

	.win-table_cell--date {
		width: 11%;
	}

	.win-table_cell--value {
		width: 10%;
	}

	.win-table_cell--status {
		width: 10%;
	}
}

.win-table--non-hvc {

	.win-table_cell--company {
		width: 25%;
	}

	.win-table_cell--officer {
		width: 14%;
	}

	.win-table_cell--country {
		width: 12%;
	}

	.win-table_cell--uk-region {
		width: 12%;
	}

	.win-table_cell--date {
		width: 17%;
	}

	.win-table_cell--value {
		width: 10%;
	}

	.win-table_cell--status {
		width: 10%;
	}
}

.win-table--uk-regions-hvc {

	.win-table_cell--company {
		width: 21%;
	}

	.win-table_cell--hvc {
		width: 23%;
	}

	.win-table_cell--officer {
		width: 13%;
	}

	.win-table_cell--country {
		width: 12%;
	}

	.win-table_cell--date {
		width: 11%;
	}

	.win-table_cell--value {
		width: 10%;
	}

	.win-table_cell--status {
		width: 10%;
	}
}

.win-table--uk-regions-non-hvc {

	.win-table_cell--company {
		width: 31%;
	}

	.win-table_cell--officer {
		width: 20%;
	}

	.win-table_cell--country {
		width: 12%;
	}

	.win-table_cell--date {
		width: 17%;
	}

	.win-table_cell--value {
		width: 10%;
	}

	.win-table_cell--status {
		width: 10%;
	}
}


.win-table_cell--date {
	font-size: 90%;
	text-align: center;
}

.win-table_cell--value {
	font-size: 95%;
	font-weight: bold;
}

.win-table_cell_company-name {
	@include bold-16;
	display: block;
	text-decoration: none;
}

.win-table_cell_company-id {
	color: $grey-1;
	@include core-14;
}

.win-table_cell_hvc {
	color: $grey-1;
	@include bold-16;
}

.win-table_cell_hvc-name {
	display: block;
	padding-top: pem( 5 );
}

.win-table_cell--status-not-sent {
	color: $grey-1;
}

.win-table_cell--status-confirmed {
	color: $mi-green;
	font-weight: bold;
}

.win-table_cell--status-rejected {
	color: $mi-red;
}
