
//using variables created in _hvc-target-performance

.zero-target-perf-table {
	@extend .hvc-perf_table;
	width: 100%;
	border-bottom: 1px solid #000;
}

.zero-target-perf-table--with-headings {
	margin-top: pem( 10 );
}

.zero-target-perf-table_row {
	@extend .hvc-perf_table_row;
}

.zero-target-perf-table_heading {
	@extend .hvc-perf_table_cell_heading;
	padding-bottom: pem( 10, 14 );
}

.zero-target-perf-table_heading--target-percentage,
.zero-target-perf-table_heading--confirmed-value,
.zero-target-perf-table_heading--target {
	@extend .hvc-perf_table_cell_heading--target-percentage
}

.zero-target-perf-table_cell {
	@extend .hvc-perf_table_cell;
}

.zero-target-perf-table_cell--campaign {
	@extend .hvc-perf_table_cell--campaign;
	width: ( $campaign-width + $percent-complete-width + $over-target-width );
}

.zero-target-perf-table_cell--confirmed {
	@extend .hvc-perf_table_cell--confirmed;
	width: $confirmed-width;
}

.zero-target-perf-table_cell--unconfirmed {
	@extend .hvc-perf_table_cell--unconfirmed;
	width: $combined-width;
}

.zero-target-perf-table_cell--target {
	@extend .hvc-perf_table_cell--target;
	width: $target-width;
}

.zero-target-perf-table_cell--hvc-percent {
	@extend .hvc-perf_table_cell--hvc-percent;
	width: $hvc-percent;
}

.zero-target-perf-table_cell_hvc-id {
	@extend .hvc-perf_table_cell_hvc-id;
	min-width: 6.5%;
}

.zero-target-perf-table_cell_hvc-name {
	@extend .hvc-perf_table_cell_hvc-name;
}
