node_modules
*.DS_Store
.tmp
npm-debug.log
dist
.env
jinja_govuk_template-*
.sass-cache
.nyc_output
coverage
src/public/css
src/data/stubs
src/data/mocks
src/test/stubs
src/data/faker/**/output
src/data/fake-stubs
src/test/ci/output
run/node.log
run/node.pid
src/test/backstop/data

# IDE configurations
.vscode/
.idea/
/.idea/workspace.xml
