{% extends 'layout.html' %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/top-markets.html' import topMarketsTable %}
{% from 'macros/hvc-target-performance.html' import hvcTargetPerformanceTable %}

{% block page_content %}

	<h1 class="page-heading">{{ sectorName }} review</h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date">{{ financialYear( summary.dateRange ) }}</h2>

	{% block page_tabs %}{% endblock page_tabs %}

	<section class="sector-detail grid-row">
		<div class="column-export-value">

			<h3 class="sector-export-heading">Total confirmed export value</h3>
			<p class="sector-export-confirmed-value"><span class="sector-export-value-currency">&pound;</span>{{ summary.confirmedExportValue | largeNumber( true ) | safe }}</p>

		</div>
		<div class="column-export-value">

			<h3 class="sector-export-heading">Total unconfirmed export value</h3>
			<p class="sector-export-unconfirmed-value"><span class="sector-export-value-currency">&pound;</span>{{ summary.unconfirmedExportValue | largeNumber( true ) | safe }}</p>

		</div>
		<div class="column-charts">

			<ul class="sector-overview_charts">
				<li class="sector-overview_charts_chart">

					<h3 class="sector-overview_total-value-heading">HVC and non-HVC confirmed wins value</h3>
					<div class="pie pie--sector-team" style="animation-delay: -{{ summary.pieData.hvcNonHvcValue.nonHvc | piePercentage }}s">{{ summary.pieData.hvcNonHvcValue.nonHvc }}%</div>

					<ul class="pie-key pie-key--hvc-vs-non pie-key--inline sector-overview_total-value-key">
						<li class="pie-key_item">
							<span class="pie-key_block pie-key_block--slice"></span>Non-HVC - <span class="pie-key_item_percentage">{{ summary.pieData.hvcNonHvcValue.nonHvc }}%</span>
						</li>
						<li class="pie-key_item">
							<span class="pie-key_block"></span>HVC - <span class="pie-key_item_percentage">{{ summary.pieData.hvcNonHvcValue.hvc }}%</span>
						</li>
					</ul>

				</li>
				<li class="sector-overview_charts_chart">

					<h3 class="sector-overview_confirmed-heading">Confirmed and unconfirmed wins value</h3>
					{% include 'partials/confirmed-vs-unconfirmed-wins.html' -%}

				</li>
			</ul>

		</div>
		<div class="column-average-time">

			<p class="sector-overview_charts_chart_average-time">
				Average time to confirm <span class="sector-overview_charts_chart_average-time_days">{{ summary.averageTimeToConfirm | pluralise( 'day' ) }}</span>
			</p>

		</div>
	</section>

	<hr>

	<section class="sector-wins grid-row">

		<div class="column-single">
			<h3 class="sector-wins_heading">HVC export wins</h3>
		</div>

		<div class="column-six-elevenths">

			<h4 class="sector-heading sector-heading--target">Total confirmed against target</h4>
			{% include 'partials/hvc-performance-summary.html' -%}

		</div>
		<div class="column-five-elevenths">
			{% include 'partials/key.html' %}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading">{{ sectorName }} HVCs</h2>
			<h3 class="sub-heading-date">{{ financialYear( hvcTargetPerformance.dateRange ) }}</h3>
			{{ hvcTargetPerformanceTable( hvcTargetPerformance.withTarget ) }}
		</div>
	</section>

	{% if hvcTargetPerformance.zeroTarget.length %}
	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading sector-heading--zero-target">HVCs with no target in 2016-17</h2>
			{% include 'partials/zero-target-performance.html' %}
		</div>
	</section>
	{% endif %}

	<section class="grid-row row-separator">
		<div class="column-two-thirds">
			<h2 class="sector-heading">{{ sectorName }} monthly performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( monthlyPerformance.dateRange ) }}</h3>
		</div>
		<div class="column-one-third">
			{% include 'partials/monthly-performance-key.html' %}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			{% include 'partials/monthly-performance.html' %}
		</div>
	</section>

	{% if topMarkets.items.length %}
	<section class="grid-row row-separator">
		<div class="column-single">
			<h2 class="sector-heading">Top performing markets (wins with no HVC tagged)</h2>
			<h3 class="sub-heading-date">{{ financialYear( topMarkets.dateRange ) }}</h3>
			{{ topMarketsTable( topMarkets ) }}
		</div>
	</section>
	{% endif %}

{%- endblock -%}

{%- block pageScript %}
<script>
	mi.pages.sector({
		isOver: '{{ hvcSummary.progress.over }}',
		confirmedPercent: '{{ hvcSummary.progress.confirmed }}',
		unconfirmedPercent: '{{ hvcSummary.progress.unconfirmed }}'
	});
</script>
{% endblock pageScript -%}
