{% extends 'layout.html' %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/top-markets.html' import topMarketsTable %}
{% from 'macros/hvc-target-performance.html' import hvcTargetPerformanceTable %}
{% from 'macros/hvc-zero-target-performance.html' import hvcZeroTargetPerformanceTable %}
{% from 'macros/hvc-performance-summary.html' import hvcPerformanceSummary %}
{% from 'macros/pie-charts.html' import confirmedUnconfirmedPieChart, hvcNonHvcPieChart %}
{% from 'macros/monthly-performance-key.html' import monthlyPerformanceKey %}
{% from 'macros/monthly-performance-graph.html' import monthlyPerformanceGraph %}

{% block page_content %}

	{%- block year_selector -%}
		{% include 'partials/year-selector.html' %}
	{%- endblock -%}

	<h2 class="page-date">{{ financialYear( summary.dateRange ) }}</h2>

	{% block page_tabs %}{% endblock page_tabs %}

	<section class="sector-detail grid-row">
		<div class="column-export-value">

			<h3 class="sector-export-heading">Total confirmed export value</h3>
			<p class="sector-export-confirmed-value"><span class="sector-export-value-currency">&pound;</span>{{ summary.confirmedExportValue | largeNumber( true ) | safe }}</p>

		</div>
		<div class="column-export-value">

			<h3 class="sector-export-heading">Total unconfirmed export value</h3>
			<p class="sector-export-unconfirmed-value"><span class="sector-export-value-currency">&pound;</span>{{ summary.unconfirmedExportValue | largeNumber( true ) | safe }}</p>

		</div>
		<div class="column-charts">
			<ul class="sector-overview_charts">
				<li class="sector-overview_charts_chart">

					<h3 class="sector-overview_total-value-heading">HVC and non-HVC confirmed wins value</h3>
					{{ hvcNonHvcPieChart( summary ) }}

				</li>
				<li class="sector-overview_charts_chart">

					<h3 class="sector-overview_confirmed-heading">Confirmed and unconfirmed wins value</h3>
					{{ confirmedUnconfirmedPieChart( summary ) }}

				</li>
			</ul>
		</div>
		<div class="column-average-time">

			<p class="sector-overview_charts_chart_average-time">
				Average time to confirm <span class="sector-overview_charts_chart_average-time_days">{{ summary.averageTimeToConfirm | pluralise( 'day' ) }}</span>
			</p>

		</div>
	</section>

	<hr>

	<section class="sector-wins grid-row">

		<div class="column-single">

			<h3 class="sector-wins_heading">HVC export wins</h3>

		</div>
		<div class="column-six-elevenths">

			<h4 class="sector-heading sector-heading--target">Total confirmed against target</h4>
			{{ hvcPerformanceSummary( hvcSummary ) -}}

		</div>
		<div class="column-five-elevenths">
			{% include 'partials/hvc-target-performance-key.html' %}
		</div>
	</section>

	{% block hvc_performance_table %}
	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading">{{ sectorName }} HVCs</h2>
			<h3 class="sub-heading-date">{{ financialYear( hvcTargetPerformance.dateRange ) }}</h3>
			{{ hvcTargetPerformanceTable( hvcTargetPerformance.withTarget, hvcTargetPerformance.zeroTarget.length ) }}
		</div>
	</section>
	{% endblock %}

	{% block zero_target_hvc_table %}
	{% if hvcTargetPerformance.zeroTarget.length %}
	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading sector-heading--zero-target">HVCs with no target in 2016-17</h2>
			{{ hvcZeroTargetPerformanceTable( hvcTargetPerformance.zeroTarget ) }}
		</div>
	</section>
	{% endif %}
	{% endblock %}

	<section class="grid-row row-separator">
		<div class="column-two-thirds">
			<h2 class="sector-heading">{{ sectorName }} monthly performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( monthlyPerformance.dateRange ) }}</h3>
		</div>
		<div class="column-one-third">
			{{ monthlyPerformanceKey( monthlyPerformance.keys ) }}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			{{ monthlyPerformanceGraph( monthlyPerformance ) }}
		</div>
	</section>

	{% if topMarkets.items.length %}
	<section class="grid-row row-separator">
		<div class="column-single">
			<h2 class="sector-heading">Top performing markets (wins with no HVC tagged)</h2>
			<h3 class="sub-heading-date">{{ financialYear( topMarkets.dateRange ) }}</h3>
			{{ topMarketsTable( topMarkets ) }}
		</div>
	</section>
	{% endif %}

{%- endblock -%}

{%- block pageScript %}
<script>
	{% if user.experiments %}
	mi.pages.sector({
		progress: {{ hvcSummary.progress | dump | safe }},
		topMarkets: {
			count: {{ topMarkets.count | dump | safe }},
			url: {{ loadMoreUrl | dump | safe }}
		}
	});
	{% else %}
	mi.pages.sector({
		progress: {{ hvcSummary.progress | dump | safe }}
	});
	{% endif %}
</script>
{% endblock pageScript -%}
