{% extends 'layout.html' %}

{% block page_content %}

	<h1>
		{{ sectorName }}
	</h1>


	<h2 class="visually-hidden">Summary</h2>
	<section class="sector-overview grid-row">
		<div class="column-one-third">
			
			<h3 class="">Total confirmed incl. non-HVC</h3>
			<p class="sector-export-value">&pound;{{ winSummary.exportValue | largeNumber }}</p>
		</div>

		<div class="column-two-thirds">

			<ul class="sector-overview_charts">
				<li class="sector-overview_charts_chart">
					
					<h3 class="sector-overview_total-value-heading">Total value of confirmed wins (HVC &amp; non-HVC)</h3>
					<div class="pie pie--sector-team pie--inline" style="animation-delay: -{{ winSummary.wins.hvcNonHvcValue.nonHvc }}s">{{ winSummary.wins.hvcNonHvcValue.nonHvc }}%</div>

					<ul class="pie-key pie-key--inline sector-overview_total-value-key">
						<li class="pie-key_item">
							<span class="pie-key_block pie-key_block--slice"></span>non-HVC<span class="visually-hidden"> - {{ winSummary.wins.hvcNonHvcValue.nonHvc }}%</span>
						</li>
						<li class="pie-key_item">
							<span class="pie-key_block"></span>HVC<span class="visually-hidden"> - {{ winSummary.wins.hvcNonHvcValue.hvc }}%</span>
						</li>
					</ul>

				</li>
				<li class="sector-overview_charts_chart">

					<h3 class="sector-overview_confirmed-heading">Confirmed vs. unconfirmed wins value</h3>
					<div class="pie pie--sector-team pie--pink pie--inline" style="animation-delay: -{{ winSummary.wins.confirmedUnconfirmedValue.unconfirmed }}s">{{ winSummary.wins.confirmedUnconfirmedValue.unconfirmed }}%</div>

					<ul class="pie-key pie-key--pink pie-key--inline sector-overview_total-value-key">
						<li class="pie-key_item">
							<span class="pie-key_block pie-key_block--slice"></span>Unconfirmed wins - {{ winSummary.wins.confirmedUnconfirmedValue.unconfirmed }}%
						</li>
						<li class="pie-key_item">
							<span class="pie-key_block"></span>Confirmed wins - {{ winSummary.wins.confirmedUnconfirmedValue.confirmed }}%
						</li>
					</ul>
					<p class="sector-overview_charts_chart_average-time">
						Average time to confirm: <span class="sector-overview_charts_chart_average-time_days">{{ winSummary.averageTimeToConfirm | pluralise( 'day' ) }}</span>
					</p>

				</li>
			</ul>

		</div>
	</section>

	<section class="sector-wins grid-row">

		<div class="column-single">
			<h3>HVC Performance</h3>

			<h4 class="sector-wins_list-heading">Total confirmed HVCs against target</h4>

			<ul class="sector-wins_list">
				<li class="sector-wins_list_item">
					<p class="visually-hidden">{{ winSummary.progress.percent }}%</p>
					<div class="gauge sector-wins_list_item_gauge">
						<div class="gauge_container">
							<div class="gauge_container_a"></div>
							<div class="gauge_container_b"></div>
							<div id="wins-target-progress" class="gauge_container_c"></div>
						</div>
					</div>
				</li>
				<li class="sector-wins_list_item">
					<ul class="sector-wins_list_item_values">
						<li class="sector-wins_list_item_values_item">
							<h3 class="sector-wins_list_item_heading">Total confirmed</h3>
							<p class="sector-wins_list_item_value"><span class="sector-wins_list_item_value_currency">&pound;</span>{{ winSummary.totalConfirmed | largeNumber }}</p>
						</li>
						<li class="sector-wins_list_item_values_item">
							<h3 class="sector-wins_list_item_heading">Target</h3>
							<p class="sector-wins_list_item_value"><span class="sector-wins_list_item_value_currency">&pound;</span>{{ winSummary.target | largeNumber }}</p>
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-sub-heading">HVCs with 1 year targets</h2>
			{% include 'partials/hvc-target-performance.html' %}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading">Overall sector performance</h2>
			<div id="sector-performance"></div>
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			<h2 class="sector-heading">Top performing non-HVC markets and sectors</h2>
			{% include 'partials/top-non-hvc.html' %}
		</div>
	</section>

{% endblock %}

{% block pageScript %}
	<script>
		mi.pages.sector({
			sectorPerformance: {{ sectorPerformance | dump | safe }},
			targetProgress: {{ winSummary.progress.gauge | dump | safe }}
		});
	</script>
{% endblock pageScript %}
