{% macro fdiOverview( data ) %}
	<section class="fdi-overview-section">
		<div class="grid-row">
			<div class="column-single">

				<ul class="fdi-overview-list fdi-overview-list--first">
					<li class="fdi-overview-list_item fdi-overview-list_item--six">
						<h4 class="fdi-overview-list_heading">FDI project<br>target</h4>
						<p class="fdi-overview-list_text">{{ data.target }}</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--six">
						<h4 class="fdi-overview-list_heading">Total<br>verified</h4>
						<p class="fdi-overview-list_text">{{ data.totals.verified }}</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--six">
						<h4 class="fdi-overview-list_heading">Total<br>verified met</h4>
						<p class="fdi-overview-list_text">{{ data.metPercent | default( 0 ) }}%</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--six">
						<h4 class="fdi-overview-list_heading">New jobs<br>verified</h4>
						<p class="fdi-overview-list_text">{{ data.jobs.new.verified }}</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--six">
						<h4 class="fdi-overview-list_heading">Safeguarded<br>jobs verified</h4>
						<p class="fdi-overview-list_text">{{ data.jobs.safe.verified }}</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--six">
						<h4 class="fdi-overview-list_heading">Total value<br>verified</h4>
						<p class="fdi-overview-list_text">
							<span class="currency-marker">&pound;</span>{{ data.value.verified | largeNumber( true ) | safe }}
						</p>
					</li>
				</dl>
			</div>
		</div>

		<div class="grid-row">
			<div class="column-two-thirds fdi-overview-unconfirmed">

				<ul class="fdi-overview-list fdi-overview-list--confirmed">
					<li class="fdi-overview-list_item fdi-overview-list_item--four">
						<h4 class="fdi-overview-list_heading">Total value<br>success confirmed</h4>
						<p class="fdi-overview-list_text fdi-overview-list_text--unconfirmed">
							<span class="currency-marker">&pound;</span>{{ data.value.pending | largeNumber( true ) | safe }}
						</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--four">
						<h4 class="fdi-overview-list_heading">Total success<br>confirmed</h4>
						<p class="fdi-overview-list_text fdi-overview-list_text--unconfirmed">{{ data.totals.pending }}</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--four">
						<h4 class="fdi-overview-list_heading">New jobs<br>success confirmed</h4>
						<p class="fdi-overview-list_text fdi-overview-list_text--unconfirmed">{{ data.jobs.new.pending }}</p>
					</li>

					<li class="fdi-overview-list_item fdi-overview-list_item--four">
						<h4 class="fdi-overview-list_heading">Safeguarded jobs<br>success confirmed</h4>
						<p class="fdi-overview-list_text fdi-overview-list_text--unconfirmed">{{ data.jobs.safe.pending }}</p>
					</li>
				</dl>

			</div>
			<div class="column-one-third fdi-overview-verified">

				<h4 class="fdi-overview-period-heading">Verified in period</h4>
				<ul class="fdi-overview-period-list">
					<li class="fdi-overview-period-list_item">
						<h5 class="fdi-overview-period-list_heading fdi-overview-period-list_heading--high">High</h5>
						<p class="fdi-overview-period-list_text">{{ data.verified.high.number }}</p>
						<p class="fdi-overview-period-list_text fdi-overview-period-list_text--percent">{{ data.verified.high.percent }}%</p>
					</li>
					<li class="fdi-overview-period-list_item">
						<h5 class="fdi-overview-period-list_heading">Good</h5>
						<p class="fdi-overview-period-list_text">{{ data.verified.good.number }}</p>
						<p class="fdi-overview-period-list_text fdi-overview-period-list_text--percent">{{ data.verified.good.percent }}%</p>
					</li>
					<li class="fdi-overview-period-list_item">
						<h5 class="fdi-overview-period-list_heading">Standard</h5>
						<p class="fdi-overview-period-list_text">{{ data.verified.standard.number }}</p>
						<p class="fdi-overview-period-list_text fdi-overview-period-list_text--percent">{{ data.verified.standard.percent }}%</p>
					</li>
				</ul>

			</div>
		</div>
	</section>
{% endmacro %}
