{% from './sorted-heading.html' import sortedHeading %}

{% macro regionProgressTable( rows, url, sortKeys ) %}
	<table class="table-fdi-region-progress">
		<caption class="visually-hidden">
			Overall progress for all the UK regions
		</caption>
		<thead>
			<tr>
				<th class="table-fdi-region-progress_heading">{{ sortedHeading( url, 'UK region', sortKeys.region, rows ) }}</th>
				<th class="table-fdi-region-progress_heading">{{ sortedHeading( url, 'Project wins', sortKeys.totalWins, rows ) }}</th>
				<th class="table-fdi-region-progress_heading">{{ sortedHeading( url, 'Project verify win', sortKeys.verifyWin, rows ) }}</th>
				<th class="table-fdi-region-progress_heading">{{ sortedHeading( url, 'Total jobs won', sortKeys.totalJobs, rows ) }}</th>
				<th class="table-fdi-region-progress_heading">{{ sortedHeading( url, 'New jobs', sortKeys.newJobs, rows ) }}</th>
				<th class="table-fdi-region-progress_heading">{{ sortedHeading( url, 'Safeguarded jobs', sortKeys.safeJobs, rows ) }}</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td class="table-fdi-region-progress_cell table-fdi-region-progress_cell--name">{{ row.name }}</td>
					<td class="table-fdi-region-progress_cell table-fdi-region-progress_cell--total-wins">{{ row.wins.total | preciseNumber }}</td>
					<td class="table-fdi-region-progress_cell table-fdi-region-progress_cell--verify">{{ row.wins.verify | preciseNumber }}</td>
					<td class="table-fdi-region-progress_cell table-fdi-region-progress_cell--total-jobs">{{ row.jobs.total | preciseNumber }}</td>
					<td class="table-fdi-region-progress_cell table-fdi-region-progress_cell--new-jobs">{{ row.jobs.new | preciseNumber }}</td>
					<td class="table-fdi-region-progress_cell table-fdi-region-progress_cell--safe-jobs">{{ row.jobs.safe | preciseNumber }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}
