{% from './sorted-heading.html' import sortedHeading %}

{% macro winProgressTable( progressRows, url, progressColumnHeading, progressColumnHeadingKey, sortKeys ) %}
	<table class="table-fdi-win-progress">
		<thead>
			<tr>
				<th class="table-fdi-win-progress_heading">{{ sortedHeading( url, progressColumnHeading, progressColumnHeadingKey, progressRows ) }}</th>
				<th class="table-fdi-win-progress_heading">{{ sortedHeading( url, 'Project wins', sortKeys.projectWins, progressRows ) }}</th>
				<th class="table-fdi-win-progress_heading">{{ sortedHeading( url, 'HVC wins', sortKeys.hvcWins, progressRows ) }}</th>
				<th class="table-fdi-win-progress_heading"><span class="visually-hidden">Project breakdown</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="3"></td>
				<td class="table-fdi-win-progress_scale-cell">
					<span class="visually-hidden">Scale for graph:</span>
					<span class="table-fdi-win-progress_scale">
						{% for point in progressRows.scale %}
							<span class="table-fdi-win-progress_scale-point">
								<span class="table-fdi-win-progress_scale-point_value">{{ point }}</span>
							</span>
						{% endfor %}
					</span>
				</td>
			</tr>
			{% for row in progressRows %}
			<tr>
				<td class="table-fdi-win-progress_cell table-fdi-win-progress_cell--name">{{ row.name }}</td>
				<td class="table-fdi-win-progress_cell table-fdi-win-progress_cell--total">{{ row.wins.total }}</td>
				<td class="table-fdi-win-progress_cell table-fdi-win-progress_cell--hvc">{{ row.wins.hvc }}</td>
				<td class="table-fdi-win-progress_cell table-fdi-win-progress_cell--progress">
					<div class="table-fdi-win-progress_segments">
						<span class="visually-hidden">Won: {{ row.segments.won.count }}</span>
						<span class="table-fdi-win-progress_segment table-fdi-win-progress_segment--won" style="left: {{ row.segments.won.start }}%; width: {{ row.segments.won.percent }}%;"></span>

						<span class="visually-hidden">Verify win: {{ row.segments.verifyWin.count }}</span>
						<span class="table-fdi-win-progress_segment table-fdi-win-progress_segment--verify-win" style="left: {{ row.segments.verifyWin.start }}%; width: {{ row.segments.verifyWin.percent }}%;"></span>

						<span class="visually-hidden">Active pipeline: {{ row.segments.pipeline.count }}</span>
						<span class="table-fdi-win-progress_segment table-fdi-win-progress_segment--pipeline" style="left: {{ row.segments.pipeline.start }}%; width: {{ row.segments.pipeline.percent }}%;"></span>

						<span class="visually-hidden">Target: {{ row.segments.target.count }}</span>
						{% if row.segments.target.percent %}
						<span class="table-fdi-win-progress_target" style="left: {{ row.segments.target.percent }}%;"></span>
						{% endif %}
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}
