{% extends 'layout-investment.html' %}

{% set pageName='Investment - Overseas Regions' %}

{% from 'macros/dates.html' import financialYear %}

{% block page_content %}

	<h1 class="page-heading">
		Investment
	</h1>

	<h2 class="page-sub-heading">All Overseas Regions review</h2>

	{% include 'partials/year-selector.html' %}

	<h3 class="page-sub-heading">{{ selectedYear }} to {{ selectedYear + 1 }} financial year</h3>

	<ul>
	{% for region in regions.results %}
		<li>
			<a href="{{ urls.investment.osRegion( region.id ) }}">{{ region.name }}</a>
		</li>
	{% endfor %}
	</ul>

{% endblock %}
