@import '_deprecated/typography';
@import 'helpers';
@import 'mi-colours';
@import 'mi-typeography';

.fdi-overview-heading {
	@include bold-19;
	margin-top: pem( 30, 19 );
}

.fdi-overview-date {
	@include bold-16;
	margin: pem( 10 ) 0 pem( 30 ) 0;
}

.fdi-overview-section {
	border-bottom: 1px solid $grey-2;
	padding-bottom: pem( 20 );
	margin-bottom: pem( 20 );
}

.fdi-overview-list {
	padding: 0;
	margin: 0;
}

.fdi-overview-list--first {
	margin-bottom: pem( 30 );
}

.fdi-overview-list--confirmed {
	margin-top: pem( 16 );
}

.fdi-overview-list_item {
	display: inline-block;
}

.fdi-overview-list_item--six {
	min-width: 16%;
}

.fdi-overview-list_item--three {
	min-width: 32.5%;
}

.fdi-overview-list_item--four {
	min-width: 24%;
}

.fdi-overview-list_heading {
	@include bold-14( $line-height: 1.1, $line-height-640: 1 );
	text-align: center;
	padding: 0 pem( 10, 14 );
	margin-bottom: pem( 10, 14 );
}

.fdi-overview-list_text {
	margin: 0;
	@include bold-24;
	text-align: center;
}

.fdi-overview-list_text--unconfirmed {
	color: $unconfirmed;
}

.fdi-overview-unconfirmed {
	padding-top: pem( 10 );
}

.fdi-overview-verified {
	border-left: 1px solid $grey-2;
	@extend .fdi-overview-unconfirmed;
}

.fdi-overview-period-heading {
	padding-left: pem( 10 );
	@include bold-16;
}

.fdi-overview-period-list {
	@extend .fdi-overview-period-heading;
}

.fdi-overview-period-list_item {
	display: inline-block;
	min-width: 5em;
	margin-right: pem( -5 );
}

.fdi-overview-period-list_heading {
	@include bold-14;
	border-bottom: 1px solid $grey-2;
	margin-bottom: pem( 5, 14 );
}

.fdi-overview-period-list_text {
	margin: 0;
	@include core-14( $line-height: 2, $line-height-640: 2 );
}

.fdi-overview-period-list_text--percent {
	@include bold-14;
}


.fdi-overview-yoy-date {
	@include bold-16;
}

.fdi-overview-yoy-list {
	padding: 0;
	margin-top: pem( 15 );
}

.fdi-overview-yoy-list_item {
	display: inline-block;
	@include bold-14;
	text-align: center;
}

.fdi-overview-yoy-list_heading {
	@include bold-14;
}

.fdi-overview-yoy-list_heading--high {
	padding-left: 4em; //try and ignore the year column for centering
}

.fdi-overview-yoy-table {
	border-collapse: collapse;
	margin-top: pem( 15 );
	text-align: left;
	margin-right: pem( -5 );
}

$fdi-overview-yoy-cell-padding-horizontal: 6;

.fdi-overview-yoy-table_heading {
	@include bold-12( $line-height: 1, $line-height-640: 1 );
	height: 2.5em;
	vertical-align: bottom;
	text-align: left;
	padding: 0 pem( $fdi-overview-yoy-cell-padding-horizontal, 14 ) pem( 5, 14 ) pem( $fdi-overview-yoy-cell-padding-horizontal, 14 );
	border-bottom: 1px solid $grey-2;
}

.fdi-overview-yoy-table_cell {
	@include bold-14;
	padding: pem( 6, 14 ) pem( $fdi-overview-yoy-cell-padding-horizontal, 14 );
}

.fdi-overview-yoy-table_heading--projects,
.fdi-overview-yoy-table_cell--projects {
	border-left: 1px solid $grey-2;
	padding-left: pem( 10, 14 );
}

.fdi-overview-yoy-table_row:nth-child( odd ) {

	.fdi-overview-yoy-table_cell {
		background-color: $grey-4;
	}
}

.fdi-overview-yoy-table_cell--current-year {
	@include bold-16;
}

.fdi-overview-yoy-table--no-year {

	.fdi-overview-yoy-table_heading,
	.fdi-overview-yoy-table_cell {

		&:first-of-type {
			display: none;
		}
	}
}

