.fdi-sector-team-heading {
	@include bold-19;
	margin-bottom: pem( 30, 19 );
}

.fdi-sector-team-markets-list {
	padding: 0;
}

.fdi-sector-team-markets-list_item {
	background-color: $grey-4;
	padding: pem( 5 );
	margin-bottom: pem( 10 );
}

.fdi-sector-team-markets-list_heading {
	@include bold-19;
	color: $grey-1;
}

.fdi-sector-team-markets-list_team-heading {
	@include bold-16;
	padding: pem( 10 ) 0 0 pem( 5 );
}

.fdi-sector-team-markets-list_market-name {
	@include core-16;
	width: 29%;
	text-align: right;
	position: relative;
	top: pem( 15 );
}

.fdi-sector-team-markets-list_table {
	@include core-14( $line-height: 1, $line-height-640: 1 );
	border-collapse: collapse;
	width: 85%;
	margin-left: 10%;
}

.fdi-sector-team-markets-list_table_heading {
	@include bold-14( $line-height: 1, $line-height-640: 1 );
	border-bottom: 1px solid $grey-1;
	padding-bottom: pem( 5, 14 );
}

.fdi-sector-team-markets-list_table_heading--type {
	border-bottom: 0;
}

.fdi-sector-team-markets-list_table_heading--total {
	border-bottom: 0;
}

.fdi-sector-team-markets-list_table_heading--progress {
	border-bottom: 0;
}

.fdi-sector-team-markets-list_table_heading--high {
	text-align: center;
}

.fdi-sector-team-markets-list_table_heading--good {
	text-align: center;
}

.fdi-sector-team-markets-list_table_heading--standard {
	text-align: center;
}

.fdi-sector-team-markets-list_table_row--target {

	.fdi-sector-team-markets-list_table_cell {
		padding-top: pem( 5, 14 );
	}

	.fdi-sector-team-markets-list_table_cell_progress-value {
		display: none;
	}
}

.fdi-sector-team-markets-list_table_row--confirmed {

	.fdi-sector-team-markets-list_table_cell_progress-value {
		display: none;
	}
}

.fdi-sector-team-markets-list_table_row--pipeline {

	.fdi-sector-team-markets-list_table_cell {
		border-top: 1px solid $grey-1;
		padding-top: pem( 6, 14 );
		font-weight: bold;
	}
}

.fdi-sector-team-markets-list_table_cell {
	padding-bottom: pem( 8, 14 );
}

.fdi-sector-team-markets-list_table_cell--type {
	text-align: right;
	padding-left: pem( 20, 14 );
	padding-right: pem( 20, 14 );
	width: 20%;
}

.fdi-sector-team-markets-list_table_cell--total {
	text-align: right;
	width: 2%;
}

.fdi-sector-team-markets-list_table_cell--progress {
	width: 42%;
}

.fdi-sector-team-markets-list_table_cell--high {
	text-align: center;
	width: 12%;
}

.fdi-sector-team-markets-list_table_cell--good {
	text-align: center;
	width: 12%;
}

.fdi-sector-team-markets-list_table_cell--standard {
	text-align: center;
	width: 12%;
}

.fdi-sector-team-markets-list_table_cell_progress-wrapper {
	display: inline-block;
	position: relative;
	margin-left: pem( 10, 14 );
	width: 75%;
}

.fdi-sector-team-markets-list_table_cell_progress-bar {
	display: inline-block;
	height: pem( 18, 14 );
	margin-top: pem( 2, 14 );
}

.fdi-sector-team-markets-list_table_cell_progress-bar--target {
	background-color: $purple;
}

.fdi-sector-team-markets-list_table_cell_progress-bar--verified {
	background-color: $mauve;
}

.fdi-sector-team-markets-list_table_cell_progress-bar--confirmed {
	background-color: $baby-pink;
}

.fdi-sector-team-markets-list_table_cell_progress-value {
	display: inline-block;
	position: absolute;
	top: 0;
	padding-top: pem( 4, 14 );
	padding-left: pem( 5, 14 );
}
