{% extends 'layout.html' %}

{% set pageName='Error' %}

{% block page_content %}

	<h1 class="error-heading">
		This page is unavailable
	</h1>

	<p>
		We are experiencing technical problems. Try again in a few moments.
	</p>

	<p>
		If you’re still having trouble getting access try <a href="/">visiting the homepage</a> or <a href="{{ feedbackLink }}">let us know</a>
	</p>

	<p>
		This error has been reported to the team.
	</p>

	{%- if showErrors -%}

	{% if error.code %}

	<h2 class="error-heading">
		Code: {{ error.code }}
	</h2>

	{% endif %}

	<p class="stack-trace">
		{{ error.stack }}
	</p>

	{%- endif -%}

{% endblock  %}
