{% extends 'layout-investment.html' %}

{% from 'macros/dates.html' import financialYear %}
{% from '../macros/tabs/fdi/sector-teams.html' import tabs %}
{% from '../macros/fdi-overview.html' import fdiOverview %}
{% from '../macros/sector-team-markets.html' import fdiSectorTeamMarkets %}

{% set pageName %}Investment - Sector team performance - {{ team.description | safe }}{% endset %}

{% block page_content %}

	<h1 class="page-heading">
		Investment performance
	</h1>

	<h2 class="page-sub-heading">{{ team.description }}<span class="page-heading_secondary"> FDI Sector Team</span></h2>

	{% include 'partials/year-selector.html' %}
	<h3 class="page-date">{{ financialYear( dateRange ) }}</h3>

	{{ tabs( teamId, performance = true ) }}

	{{ fdiOverview( overview ) }}

	{{ fdiSectorTeamMarkets( team, markets ) }}
{% endblock %}

