{% extends 'layout-investment.html' %}

{% from 'macros/dates.html' import financialYear %}
{% from '../macros/tabs/fdi/sector-teams.html' import tabs %}
{% from 'macros/table-standard-types.html' import nonHvcProjectTable %}

{% set pageName %}Investment - Sector team non HVC projects - {{ team.description | safe }}{% endset %}

{% block page_content %}

	<h1 class="page-heading">
		Investment performance
	</h1>

	<h2 class="page-sub-heading">{{ team.description }}<span class="page-sub-heading_secondary"> FDI Sector Team</span></h2>

	{% include 'partials/year-selector.html' %}
	<h3 class="page-date">{{ financialYear( dateRange ) }}</h3>

	{{ tabs( team.id, nonHvcProjects = true ) }}

	{{ nonHvcProjectTable( 'Sector Team', projects or [] ) }}

{% endblock %}

