{% extends 'layout-investment.html' %}

{% set pageName='Investment - Sector Teams' %}

{% from 'macros/dates.html' import financialYear %}
{% from '../macros/fdi-overview.html' import fdiOverview %}
{% from '../macros/sector-team-markets.html' import fdiSectorTeamMarkets %}

{% block page_content %}

	<h1 class="page-heading">
		Investment
	</h1>

	<h2 class="page-sub-heading">All sector teams review</h2>

	{% include 'partials/year-selector.html' %}
	<h3 class="page-date">{{ financialYear( teams.date_range ) }}</h3>

	<h2 class="fdi-sector-teams-overview-heading">Overall performance</h2>
	{{ fdiOverview( overview ) }}

	<h2 class="fdi-sector-teams-overview-heading">Sector Teams</h2>
	{{ fdiSectorTeamMarkets( teams, markets, urls.investment.sectorTeam ) }}
{% endblock %}
