{% extends 'layout-investment.html' %}

{% set pageName='Investment - Sector Teams' %}

{% from 'macros/dates.html' import financialYear %}

{% block page_content %}

	<h1 class="page-heading">
		Investment
	</h1>

	<h2 class="page-sub-heading">All sector teams review</h2>

	{% include 'partials/year-selector.html' %}
	<h3 class="page-date">{{ financialYear( sectorTeams.date_range ) }}</h3>

	<ul>
	{% for team in sectorTeams.results %}
		<li>
			<a href="{{ urls.investment.sectorTeam( team.id ) }}">{{ team.description }}</a>
		</li>
	{% endfor %}
	</ul>

{% endblock %}
