.project-table_head_cell--date {
	text-align: center;
}

.project-table_cell--company {
	width: 24%;
}

.project-table_cell--code {
	width: 14%;
}

.project-table_cell--manager {
	width: 11%;
}

.project-table_cell--stage {
	width: 10%;
}

.project-table_cell--date {
	width: 12%;
	font-size: 90%;
}

.project-table_cell--value {
	width: 11%;
}

.project-table_cell--new-jobs {
	width: 8%;
}

.project-table_cell--safe-jobs {
	width: 10%;
}

.project-table_cell_company-name {
	@include bold-16;
	display: block;
	text-decoration: none;
}

.project-table_cell_company-id {
	color: $grey-1;
	@include core-14;
}
