.table-fdi-win-progress {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.table-fdi-win-progress_heading {

	border-bottom: 4px solid #000;
	text-align: left;
	padding-bottom: pem( 10 );
	vertical-align: bottom;

	&:first-of-type {
		padding-left: pem( 10 );
	}
}

.table-fdi-win-progress_cell {

	@include core-19;
	padding: pem( 14, 19 ) 0;
	border-bottom: 1px solid #000;

	&:nth-of-type( 1 ){
		padding-left: pem( 10, 19 );
	}

	&:nth-of-type( 4 ) {
		border-left: 2px solid black;
		border-right: 2px solid black;
		position: relative;
	}
}

.table-fdi-win-progress_scale-cell {
	position: relative;
	border-left: 2px solid black;
	border-right: 2px solid black;
	top: -10px;
	left: -2px;
}

.table-fdi-win-progress_scale {
	width: 90%;
	height: 10px;
}

.table-fdi-win-progress_scale-point {

	position: absolute;
	top: pem( -25, 19 );

	&:first-of-type {
		left: 0;
		color: #fff;
	}

	&:nth-of-type( 2 ){
		left: 25%;
	}

	&:nth-of-type( 3 ){
		left: 50%;
	}

	&:nth-of-type( 4 ){
		left: 75%;
	}

	&:nth-of-type( 5 ){
		left: 100%;
	}
}

.table-fdi-win-progress_scale-point_value {

	margin-left: -50%;

	&::after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 0;
		border-left: 2px solid black;
		height: 10px;
	}
}

.table-fdi-win-progress_scale,
.table-fdi-win-progress_segments {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
}

.table-fdi-win-progress_segment {
	position: absolute;
	top: pem( 13, 19 );
	display: block;
	height: pem( 25, 19 );
	left: 0;
	overflow: hidden;
}

.table-fdi-win-progress_segment--won {
	background-color: $fdi-won;
	color: $fdi-won;
}

.table-fdi-win-progress_segment--verify-win {
	background-color: $fdi-verify-win;
	color: $fdi-verify-win;
}

.table-fdi-win-progress_segment--pipeline {
	background-color: $grey-3;
	color: $grey-3;
	border: 1px dashed black;
	height: pem( 23, 19 );
	border-left: 0;
}

.table-fdi-win-progress_target {
	position: absolute;
	top: pem( 8, 19 );
	background-color: black;
	color: black;
	overflow: hidden;
	width: 4px;
	height: pem( 35, 19 );
}
