.table-fdi-win-progress-wrapper {
	width: 100%;
	overflow: auto;
	padding-bottom: pem( 10 );
}

.table-fdi-win-progress {
	width: 99.9%;//for some reason 100% makes the overflow of the container scroll :-(
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	min-width: pem( 750 );
}

.table-fdi-win-progress_heading {

	border-bottom: 4px solid #000;
	text-align: left;
	padding-bottom: pem( 10 );
	vertical-align: bottom;

	&:first-of-type {
		padding-left: pem( 10 );
	}
}

.table-fdi-win-progress_cell {
	@include core-19;
	padding: pem( 14, 19 ) 0;
	border-bottom: 1px solid #000;
}

.table-fdi-win-progress_cell--name {
	padding-left: pem( 10, 19 );
}

.table-fdi-win-progress_cell--progress {
	border-left: 2px solid black;
	border-right: 2px solid black;
	position: relative;
}

.table-fdi-win-progress_scale-cell {
	position: relative;
	border-left: 2px solid black;
	border-right: 2px solid black;
	top: -10px;
	left: -2px;
}

.table-fdi-win-progress_scale {
	width: 90%;
	height: 10px;
}

.table-fdi-win-progress_scale-point {

	position: absolute;
	top: pem( -25, 19 );
	visibility: hidden; //hide scale for browsers that don't understand CSS3 selctors (IE7/8)

	&:first-of-type {
		left: 0;
		color: #fff;
		visibility: visible;
	}

	&:nth-of-type( 2 ){
		left: 25%;
		visibility: visible;
	}

	&:nth-of-type( 3 ){
		left: 50%;
		visibility: visible;
	}

	&:nth-of-type( 4 ){
		left: 75%;
		visibility: visible;
	}

	&:nth-of-type( 5 ){
		left: 100%;
		visibility: visible;
	}
}

.table-fdi-win-progress_scale-point_value {

	margin-left: -50%;

	&::after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 0;
		border-left: 2px solid black;
		height: 10px;
	}
}

.table-fdi-win-progress_scale,
.table-fdi-win-progress_segments {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
}

.table-fdi-win-progress_segment {
	position: absolute;
	top: pem( 13, 19 );
	left: 0;
	display: block;
	height: pem( 25, 19 );
	overflow: hidden;
}

.table-fdi-win-progress_segment--won {
	background-color: $fdi-won;
	color: $fdi-won;
}

.table-fdi-win-progress_segment--verify-win {
	background-color: $fdi-verify-win;
	color: $fdi-verify-win;
}

.table-fdi-win-progress_segment--pipeline {
	background-color: $grey-3;
	color: $grey-3;
	border: 1px dashed black;
	height: pem( 23, 19 );
	border-left: 0;
}

.table-fdi-win-progress_target {
	position: absolute;
	top: pem( 8, 19 );
	background-color: black;
	color: black;
	overflow: hidden;
	width: 4px;
	height: pem( 35, 19 );
}
