{% macro alphaList( urlFn, results, id='alpha' ) %}

	<ul class="alpha-list_letters-list">
		{% for letter, items in results %}

			<li class="alpha-list_letters-list_letter">
				{% if items.length %}
				<a href="#{{ id }}-list-{{ letter }}">{{ letter }}</a>
				{% else %}
				<span>{{ letter }}</span>
				{% endif %}
			</li>

		{% endfor %}
	</ul>

	{% for letter, items in results %}

		{% if items.length %}

		<h3 id="{{ id }}-list-{{ letter }}">{{ letter }}</h3>

		<ul class="alpha-list_item-list">
		{% for item in items -%}
			<li>
				<a href="{{ urlFn( item.id ) }}">{{ item.name }}</a>
			</li>
		{%- endfor %}
		</ul>

		{% endif %}
	{% endfor %}

{% endmacro %}
