{% macro confirmedUnconfirmedPieChart( summary ) %}
<div class="pie pie--sector pie--confirmed-vs-un pie--inline" style="animation-delay: -{{ summary.pieData.confirmedUnconfirmedValue.unconfirmed | piePercentage }}s">{{ summary.pieData.confirmedUnconfirmedValue.unconfirmed }}%</div>

<ul class="pie-key pie-key--confirmed-vs-un pie-key--inline sector-overview_total-value-key">
	<li class="pie-key_item">
		<span class="pie-key_block pie-key_block--slice"></span>Unconfirmed - <span class="pie-key_item_percentage">{{ summary.pieData.confirmedUnconfirmedValue.unconfirmed }}%</span>
	</li>
	<li class="pie-key_item">
		<span class="pie-key_block"></span>Confirmed - <span class="pie-key_item_percentage">{{ summary.pieData.confirmedUnconfirmedValue.confirmed }}%</span>
	</li>
</ul>
{% endmacro %}
