{% import 'macros/url.html' as urls %}
{% from 'macros/tab.html' import tab %}

{% macro tabs( groupId, performance = false, hvcWins = false ) -%}

	{% set perfHref = urls.hvcGroup( groupId ) %}
	{% set hvcWinsHref = urls.hvcGroupWins( groupId ) %}

	{% if performance %}
		{% set perfHref = '' %}
	{% endif %}

	{% if hvcWins %}
		{% set hvcWinsHref = '' %}
	{% endif %}

	<ul class="page-tabs">
		{{ tab( 'Performance', href = perfHref ) }}
		{{ tab( 'HVC wins', href = hvcWinsHref ) }}
	</ul>

{%- endmacro %}
