{% from 'macros/target-progress-bar.html' import targetProgress %}

{% macro hvcPerformanceSummary( hvcSummary ) %}
<ul class="sector-wins_list">
	<li class="sector-wins_list_item">
		{{ targetProgress( hvcSummary.progress ) }}
	</li>
	<li class="sector-wins_list_item">
		<ul class="sector-wins_list_item_values">
			<li class="sector-wins_list_item_values_item">
				<h3 class="sector-wins_list_item_heading">HVC<br>{{ target|title }}</h3>
				<p class="sector-wins_list_item_value"><span class="sector-wins_list_item_value_currency">&pound;</span>{{ hvcSummary.target | largeNumber( true ) | safe }}</p>
			</li>
			<li class="sector-wins_list_item_values_item">
				<h3 class="sector-wins_list_item_heading">Total HVC<br>confirmed</h3>
				<p class="sector-wins_list_item_value sector-wins_list_item_value--hvc"><span class="sector-wins_list_item_value_currency">&pound;</span>{{ hvcSummary.confirmedValue | largeNumber( true ) | safe }}</p>
			</li>
			<li class="sector-wins_list_item_values_item">
				<h3 class="sector-wins_list_item_heading">Total HVC <br>unconfirmed</h3>
				<p class="sector-wins_list_item_value sector-wins_list_item_value--unconfirmed"><span class="sector-wins_list_item_value_currency">&pound;</span>{{ hvcSummary.unconfirmedValue | largeNumber( true ) | safe }}</p>
			</li>
		</ul>
	</li>
</ul>
{% endmacro %}
