{% macro hvcZeroTargetPerformanceTable( items, withHeadings=false ) %}
<table class="zero-target-perf-table{% if withHeadings %} zero-target-perf-table--with-headings{% endif %}">
	<caption class="visually-hidden">Zero target HVC performance</caption>
	<thead class="{% if withHeadings %}zero-target-perf-table_head{% else %}visually-hidden{% endif %}">
		<tr>
			<th{% if withHeadings %} class="zero-target-perf-table_heading zero-target-perf-table_heading--hvc"{% endif %}>HVC Name</th>
			<th{% if withHeadings %} class="zero-target-perf-table_heading zero-target-perf-table_heading--target-percentage"{% endif %}>% of HVC target</th>
			<th{% if withHeadings %} class="zero-target-perf-table_heading zero-target-perf-table_heading--confirmed-value"{% endif %}>Confirmed<br>wins value &pound;</th>
			<th{% if withHeadings %} class="zero-target-perf-table_heading zero-target-perf-table_heading--unconfirmed-value"{% endif %}>Unconfirmed<br>wins value &pound;</th>
			<th{% if withHeadings %} class="zero-target-perf-table_heading zero-target-perf-table_heading--target"{% endif %}>{{ target|title }} &pound;</th>
			<th{% if withHeadings %} class="zero-target-perf-table_heading zero-target-perf-table_heading--wins"{% endif %}>Wins</th>
		</tr>
	</thead>
	<tbody>

		{% for item in items %}
		<tr class="zero-target-perf-table_row">
			<td class="zero-target-perf-table_cell zero-target-perf-table_cell--campaign">
				<a href="{{ urls.hvc( item.id ) }}" class="zero-target-perf-table_cell_hvc-id">{{ item.id }}</a>
				<a href="{{ urls.hvc( item.id ) }}" class="zero-target-perf-table_cell_hvc-name">{{ item.name }}</a>
			</td>
			<td class="zero-target-perf-table_cell zero-target-perf-table_cell--hvc-percent">
				<span class="hvc-perf_status hvc-perf_status--{{ item.status }}">
					no {{ target }}
				</span>
			</td>
			<td class="zero-target-perf-table_cell zero-target-perf-table_cell--confirmed">
				{{- item.value.confirmed | largeNumber -}}
			</td>
			<td class="zero-target-perf-table_cell zero-target-perf-table_cell--unconfirmed">
				{{- item.value.unconfirmed | largeNumber -}}
			</td>
			<td class="zero-target-perf-table_cell zero-target-perf-table_cell--target">
				{{- item.target | largeNumber -}}
			</td>
			<td class="zero-target-perf-table_cell zero-target-perf-table_cell--wins">
				{{- item.number.total -}}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}
