{% macro percentMarkers( modifyer='top' ) %}

	<tr class="hvc-perf_row_percent-markers hvc-perf_row_percent-markers--{{ modifyer }}">
		<td></td>
		<td>

			<div class="hvc-perf_percent-markers">
				<span class="hvc-perf_percent-markers_marker hvc-perf_percent-markers_marker--0">
					<span class="hvc-peft_percent-markers_marker_text">0%</span>
				</span>
				<span class="hvc-perf_percent-markers_marker hvc-perf_percent-markers_marker--25">
					<span class="hvc-peft_percent-markers_marker_text">25%</span>
				</span>
				<span class="hvc-perf_percent-markers_marker hvc-perf_percent-markers_marker--50">
					<span class="hvc-peft_percent-markers_marker_text">50%</span>
				</span>
				<span class="hvc-perf_percent-markers_marker hvc-perf_percent-markers_marker--75">
					<span class="hvc-peft_percent-markers_marker_text">75%</span>
				</span>
				<span class="hvc-perf_percent-markers_marker hvc-perf_percent-markers_marker--100">
					<span class="hvc-peft_percent-markers_marker_text">100%</span>
				</span>
				<span class="hvc-perf_percent-markers_marker hvc-perf_percent-markers_marker--125">
					<span class="hvc-peft_percent-markers_marker_text">125% +</span>
				</span>
			</div>
		</td>
		<td colspan="5"></td>
	</tr>

{% endmacro %}

{% macro hvcTargetPerformanceTable( items, linkHvc=false ) %}
<div class="hvc-perf">
	<table class="hvc-perf_table">
		<thead>
			<tr>
				<th class="hvc-perf_table_cell_heading hvc-perf_table_cell_heading--campaign">HVC name</th>
				<th class="hvc-perf_table_cell_heading">HVC target progress</th>
				<th><span class="visually-hidden">Over target</span></th>
				<th class="hvc-perf_table_cell_heading">% of HVC target</th>
				<th class="hvc-perf_table_cell_heading">Confirmed<br>wins value &pound;</th>
				<th class="hvc-perf_table_cell_heading">Unconfirmed wins value &pound;</th>
				<th class="hvc-perf_table_cell_heading">Target &pound;</th>
			</tr>
		</thead>
		<tbody>

			{{ percentMarkers() }}

			{% for item in items %}
			<tr class="hvc-perf_table_row">
				<td class="hvc-perf_table_cell hvc-perf_table_cell--campaign">
					{% if linkHvc -%}
					<a href="{{ uuid }}/hvc/{{ item.id }}/" class="hvc-perf_table_cell_hvc-id">{{ item.id }}</a>
					<a href="{{ uuid }}/hvc/{{ item.id }}/" class="hvc-perf_table_cell_hvc-name">{{ item.name }}</a>
					{%- else -%}
					<span class="hvc-perf_table_cell_hvc-id">{{ item.id }}</span>
					<span class="hvc-perf_table_cell_hvc-name">{{ item.name }}</span>
					{%- endif %}
				</td>
				<td class="hvc-perf_table_cell hvc-perf_table_cell--percent-complete">
					<span class="visually-hidden">{{ item.progress.target.confirmed }}% confirmed</span>
					<span class="visually-hidden">{{ item.progress.target.unconfirmed }}% unconfirmed</span>
					<span class="hvc-perf_table_cell_bar hvc-perf_table_cell_bar--{{ item.status }}" style="width:{{ item.progress.target.confirmed }}%"></span>
					{%- if item.progress.target.unconfirmed > 0 -%}
					<span class="hvc-perf_table_cell_bar hvc-perf_table_cell_bar--unconfirmed" style="width:{{ item.progress.target.unconfirmed }}%"></span>
					{%- endif %}
					<span class="hvc-perf_table_cell_50-percent"></span>
					<span class="hvc-perf_table_cell_over-percentage"></span>
				</td>
				<td class="hvc-perf_table_cell hvc-perf_table_cell--over-target">
					<span class="visually-hidden">
						{%- if item.progress.target.overThreshold -%}
						Yes
						{%- else -%}
						No
						{%- endif -%}
					</span>
					{%- if item.progress.target.overThreshold -%}
					<span class="hvc-perf_table_cell_over-marker hvc-perf_table_cell_over-marker--{% if item.progress.target.unconfirmed > 0 %}unconfirmed{% else %}{{ item.status }}{% endif %}"></span>
					{%- endif -%}
				</td>
				<td class="hvc-perf_table_cell hvc-perf_table_cell--hvc-percent">
					<span class="hvc-perf_status hvc-perf_status--{{ item.status }}">
						{{ item.progress.confirmed | tablePercentage }}%
					</span>
				</td>
				<td class="hvc-perf_table_cell hvc-perf_table_cell--confirmed">{{ item.value.confirmed | largeNumber }}</td>
				<td class="hvc-perf_table_cell hvc-perf_table_cell--combined">{{ item.value.unconfirmed | largeNumber }}</td>
				<td class="hvc-perf_table_cell hvc-perf_table_cell--target">{{ item.target | largeNumber }}</td>
			</tr>
			{% endfor %}

			{{ percentMarkers( 'bottom' ) }}

		</tbody>
	</table>
</div>
{% endmacro %}
