{% macro blocks( colour, amount ) %}
	{%- for item in range( 0, amount ) -%}
		<span class="overview-blocks_block overview-blocks_block--{{ colour }}"></span>
	{%- endfor -%}
{% endmacro %}

{% macro overviewBlocks( hvcPerformance ) %}
	<p class="visually-hidden">
		Red: {{ hvcPerformance.red }},
		Amber: {{ hvcPerformance.amber }},
		Green: {{ hvcPerformance.green }}
	</p>

	<div class="overview-blocks">
		{% if hvcPerformance.red > 0 %}{{ blocks( 'red', hvcPerformance.red ) }}<br>{% endif -%}
		{% if hvcPerformance.amber > 0 %}{{ blocks( 'amber', hvcPerformance.amber ) }}<br>{% endif -%}
		{% if hvcPerformance.green > 0 %}{{ blocks( 'green', hvcPerformance.green ) }}<br>{% endif %}
	</div>
{% endmacro %}

{% macro currentValue( value ) %}
	&pound;{{ value.current | largeNumber }}
	<span class="overview-progress">
		<span class="overview-progress_amount" style="width: {{ value.percentage }}%"></span>
	</span>
{% endmacro %}
