{% macro topMarketsTable( topMarkets, type ) %}
<div class="top-markets{% if type %} top-markets--{{ type }}{% endif %}">
	<table class="top-markets_table">
		<caption class="visually-hidden">Top performing markets without an HVC tagged</caption>
		<thead>
			<tr>
				<th class="top-markets_table_heading top-markets_table_heading--left">Market</th>
				<th class="top-markets_table_heading top-markets_table_heading--left">Sector</th>
				<th><span class="visually-hidden">Percent complete</span></th>
				<th class="top-markets_table_heading">Total value of wins &pound;</th>
				<th class="top-markets_table_heading">Number of wins</th>
				<th class="top-markets_table_heading">Av. win value &pound;</th>
			</tr>
		</thead>

		<tbody>
			<tr class="top-markets_table_markers-row top-markets_table_markers-row--top">
				<td colspan="2"></td>
				<td>
				 	<div class="top-markets_value-markers">
						<span class="top-markets_value-markers_marker top-markets_value-markers_marker--first">
							<span class="top-markets_value-markers_marker_line"></span>
							<span class="visually-hidden">25% of value: </span>
							<span class="top-markets_value-markers_marker_text">
								&pound;{{ topMarkets.scale.low | largeNumber }}
							</span>
						</span>
						<span class="top-markets_value-markers_marker top-markets_value-markers_marker--second">
							<span class="top-markets_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 50% of value: </span>
							<span class="top-markets_value-markers_marker_text">
								&pound;{{ topMarkets.scale.mid | largeNumber }}
							</span>
						</span>
						<span class="top-markets_value-markers_marker top-markets_value-markers_marker--third">
							<span class="top-markets_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 100% of value: </span>
							<span class="top-markets_value-markers_marker_text">
								&pound;{{ topMarkets.scale.high | largeNumber }}
							</span>
						</span>
					</div>
				</td>
				<td colspan="4"></td>
			</tr>

			{% for item in topMarkets.items %}
			<tr class="top-markets_table_row">
				<td class="top-markets_table_cell top-markets_table_cell--region">{{ item.region }}</td>
				<td class="top-markets_table_cell top-markets_table_cell--sector">{{ item.sector }}</td>
				<td class="top-markets_table_cell top-markets_table_cell--percent">
					<span class="visually-hidden">{{ item.percentComplete }}%</span>
					<span class="top-markets_table_cell_bar" style="width:{{ item.percentComplete }}%"></span>
				</td>
				<td class="top-markets_table_cell top-markets_table_cell--total-value">{{ item.totalValue | largeNumber }}</td>
				<td class="top-markets_table_cell top-markets_table_cell--total-wins">{{ item.totalWins }}</td>
				<td class="top-markets_table_cell top-markets_table_cell--average-win-value">{{ item.averageWinValue | largeNumber }}</td>
			</tr>
			{% endfor %}

			<tr class="top-markets_table_markers-row">
				<td colspan="2"></td>
				<td>
				 	<div class="top-markets_value-markers">
						<span class="top-markets_value-markers_marker top-markets_value-markers_marker--first">
							<span class="top-markets_value-markers_marker_line"></span>
							<span class="visually-hidden">25% of value: </span>
							<span class="top-markets_value-markers_marker_text">
								&pound;{{ topMarkets.scale.low | largeNumber }}
							</span>
						</span>
						<span class="top-markets_value-markers_marker top-markets_value-markers_marker--second">
							<span class="top-markets_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 50% of value: </span>
							<span class="top-markets_value-markers_marker_text">
								&pound;{{ topMarkets.scale.mid | largeNumber }}
							</span>
						</span>
						<span class="top-markets_value-markers_marker top-markets_value-markers_marker--third">
							<span class="top-markets_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 100% of value: </span>
							<span class="top-markets_value-markers_marker_text">
								&pound;{{ topMarkets.scale.high | largeNumber }}
							</span>
						</span>
					</div>
				</td>
				<td colspan="4"></td>
			</tr>
		</tbody>
	</table>
</div>
{% endmacro %}
