{% macro url( path ) %}
	{{- urlPrefix }}{{ path }}
{%- endmacro %}

{% macro index() %}
	{{- url( '/' ) }}
{%- endmacro %}

{% macro year( fy, yr ) %}
	{%- if fy == yr %}
		{{- url( '/' ) }}
	{%- else %}
		{{- url( '/' + yr + '/' ) }}
	{%- endif %}
{%- endmacro %}

{% macro sectorTeamsOverview() %}
	{{- url( '/sector-teams/overview/' ) }}
{%- endmacro %}

{% macro sectorTeam( teamId ) %}
	{{- urlPrefix }}/sector-teams/{{ teamId }}/
{%- endmacro %}

{% macro sectorTeamWins( teamId ) %}
	{{- urlPrefix }}/sector-teams/{{ teamId }}/wins/
{%- endmacro %}

{% macro hvcGroup( groupId ) %}
	{{- urlPrefix }}/hvc-groups/{{ groupId }}/
{%- endmacro %}

{% macro hvcGroupWins( groupId ) %}
	{{- urlPrefix }}/hvc-groups/{{ groupId }}/wins/
{%- endmacro %}

{% macro osRegionsOverview() %}
	{{- url( '/overseas-regions/overview/' ) }}
{%- endmacro %}

{% macro osRegion( regionId ) %}
	{{- urlPrefix }}/overseas-regions/{{ regionId }}/
{%- endmacro %}

{% macro osRegionWins( regionId ) %}
	{{- urlPrefix }}/overseas-regions/{{ regionId }}/wins/
{%- endmacro %}

{% macro hvc( hvcId ) %}
	{{- urlPrefix }}/hvc/{{ hvcId }}/
{%- endmacro %}

{% macro hvcWins( hvcId ) %}
	{{- urlPrefix }}/hvc/{{ hvcId }}/wins/
{%- endmacro %}

{% macro email() -%}
	mailto:{{ feedbackEmail -}}
{% endmacro %}

{% macro survey() -%}
	{{- feedbackSurvey -}}
{% endmacro %}

{% macro current( year ) -%}
	{%- if year == currentYear %}
		{{- baseUrlPrefix }}{{ currentUrl }}
	{%- else %}
		{{- baseUrlPrefix }}/{{ year }}{{ currentUrl }}
	{%- endif %}
{% endmacro %}
