{% macro url( path ) %}
	{{- urlPrefix }}{{ path }}
{%- endmacro %}

{% macro filteredUrl( path ) %}
	{{- urlPrefix }}{{ addParams( path ) }}
{%- endmacro %}

{% macro index() %}
	{{- filteredUrl( '/' ) }}
{%- endmacro %}

{% macro year( fy, yr ) %}
	{%- if fy == yr %}
		{{- filteredUrl( '/' ) }}
	{%- else %}
		{{- filteredUrl( '/' + yr + '/' ) }}
	{%- endif %}
{%- endmacro %}

{% macro sectorTeamsOverview() %}
	{{- filteredUrl( '/sector-teams/overview/' ) }}
{%- endmacro %}

{% macro sectorTeam( teamId ) %}
	{{- filteredUrl( '/sector-teams/' + teamId + '/' ) }}
{%- endmacro %}

{% macro sectorTeamWins( teamId ) %}
	{{- filteredUrl( '/sector-teams/' + teamId + '/wins/' ) }}
{%- endmacro %}

{% macro hvcGroup( groupId ) %}
	{{- filteredUrl( '/hvc-groups/' + groupId + '/' ) }}
{%- endmacro %}

{% macro hvcGroupWins( groupId ) %}
	{{- filteredUrl( '/hvc-groups/' + groupId + '/wins/' ) }}
{%- endmacro %}

{% macro osRegionsOverview() %}
	{{- filteredUrl( '/overseas-regions/overview/' ) }}
{%- endmacro %}

{% macro osRegion( regionId ) %}
	{{- filteredUrl( '/overseas-regions/' + regionId + '/' ) }}
{%- endmacro %}

{% macro osRegionWins( regionId ) %}
	{{- filteredUrl( '/overseas-regions/' + regionId + '/wins/' ) }}
{%- endmacro %}

{% macro hvc( hvcId ) %}
	{{- filteredUrl( '/hvc/' + hvcId + '/' ) }}
{%- endmacro %}

{% macro hvcWins( hvcId ) %}
	{{- filteredUrl( '/hvc/' + hvcId + '/wins/' ) }}
{%- endmacro %}

{% macro email() -%}
	mailto:{{ feedbackEmail -}}
{% endmacro %}

{% macro survey() -%}
	{{- feedbackSurvey -}}
{% endmacro %}

{% macro current( year ) -%}
	{%- if year == currentYear %}
		{{- baseUrlPrefix }}{{ currentUrl }}
	{%- else %}
		{{- baseUrlPrefix }}/{{ year }}{{ currentUrl }}
	{%- endif %}
{% endmacro %}
