{% from 'macros/win-table.html' import winTable %}

{% macro winMessage( winCount ) %}
	<p>
		Total number of wins: <strong>{{ winCount }}</strong>.
	</p>
{% endmacro %}

{% macro singleWinTable( type, hvcWins = false, nonHvcWins = false, noNonHvcWinsMessage ) %}

	{%- if hvcWins -%}

		{% if hvcWins.length %}

			{{ winMessage( hvcWins.length ) }}
			{{ winTable( hvcWins, hvc=true ) }}

		{%- else -%}

			<p class="no-wins-message">There aren&#39;t any HVC wins recorded for this {{ type }}.</p>

		{%- endif %}

	{% else %}

		{% if nonHvcWins.length %}

			{{ winMessage( nonHvcWins.length ) }}
			{{ winTable( nonHvcWins, nonHvc=true ) }}

		{%- else -%}

			<p class="no-wins-message">
				{%- if noNonHvcWinsMessage %}
					{{ noNonHvcWinsMessage }}
				{% else -%}
					There aren&#39;t any non HVC wins recorded for this {{ type }}.
				{% endif -%}
			</p>

		{%- endif %}

	{% endif %}

{% endmacro %}
