{% from 'macros/win-table-hvc.html' import hvcWinTable %}
{% from 'macros/win-table-non-hvc.html' import nonHvcWinTable %}

{% macro singleWinTable( type, hvcWins = false, nonHvcWins = false ) %}

	<p>
		All individual export wins recorded.
	</p>

	{%- if hvcWins -%}

		{% if hvcWins.length %}

			{{ hvcWinTable( hvcWins ) }}

		{%- else -%}

			<p class="no-wins-message">No wins have been recored yet for this {{ type }}.</p>

		{%- endif %}

	{% else %}

		{% if nonHvcWins.length %}

			{{ nonHvcWinTable( nonHvcWins ) }}

		{%- else -%}

			<p class="no-wins-message">No wins have been recored yet for this {{ type }}.</p>

		{%- endif %}

	{% endif %}

{% endmacro %}
