{% extends 'layout.html' %}

{% set pageName %}UK Region performance - {{ regionName | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/tabs/uk-regions.html' import tabs %}
{% from 'macros/target-progress-bar.html' import targetProgress %}
{% from 'macros/region-performance-table.html' import regionPerformanceTable %}
{% from 'macros/monthly-performance-key.html' import monthlyPerformanceKey %}
{% from 'macros/monthly-performance-graph.html' import monthlyPerformanceGraph %}
{% from 'macros/top-markets.html' import topMarketsTable %}

{% block page_content %}

	<h1 class="page-heading">
		{{ regionName }} <span class="page-heading_secondary">UK Region</span>
	</h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( regionId, performance = true ) }}

	<section class="uk-region-detail_summary grid-row">

		<div class="column-one-fifth">

			<h3 class="sector-export-heading">Target number of wins</h3>
			<p class="sector-export-confirmed-value">{{ summary.target }}</p>

		</div>
		<div class="column-four-fifths">

			<ul class="uk-region-detail_target_list uk-region-detail_target_list--top">
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Non HVC<br>confirmed</h3>
					<p class="uk-region-detail_target_list_text">
						{{ summary.number.nonHvc.confirmed }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Non HVC<br>unconfirmed</h3>
					<p class="uk-region-detail_target_list_text uk-region-detail_target_list_text--unconfirmed">
						{{ summary.number.nonHvc.unconfirmed }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">HVC<br>confirmed</h3>
					<p class="uk-region-detail_target_list_text">
						{{ summary.number.hvc.confirmed }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">HVC<br>unconfirmed</h3>
					<p class="uk-region-detail_target_list_text uk-region-detail_target_list_text--unconfirmed">
						{{ summary.number.hvc.unconfirmed }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Average time to confirm</h3>
					<p class="uk-region-detail_target_list_text">
						{{ summary.averageTimeToConfirm | pluralise( 'day' ) }}
					</p>
				</li>
			</ul>

		</div>
	</section>

	<h2 class="uk-region-detail_target-heading">Total confirmed against target</h2>

	<section class="uk-region-detail_target grid-row">

		<div class="column-one-fifth uk-region-detail_target-progress">

			{{ targetProgress( summary.progress ) }}

		</div>
		<div class="column-four-fifths">

			<ul class="uk-region-detail_target_list">
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Total<br>confirmed</h3>
					<p class="uk-region-detail_target_list_text">
						{{ summary.number.totals.confirmed }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Total<br>unconfirmed</h3>
					<p class="uk-region-detail_target_list_text uk-region-detail_target_list_text--unconfirmed">
						{{ summary.number.totals.unconfirmed }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Total value of<br>confirmed</h3>
					<p class="uk-region-detail_target_list_text">
						<span class="sector-export-value-currency">&pound;</span>{{ summary.value.confirmed | largeNumber( true ) | safe }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Total value of<br>unconfirmed</h3>
					<p class="uk-region-detail_target_list_text uk-region-detail_target_list_text--unconfirmed">
						<span class="sector-export-value-currency">&pound;</span>{{ summary.value.unconfirmed | largeNumber( true ) | safe }}
					</p>
				</li>
				<li class="uk-region-detail_target_list_item">
					<h3 class="uk-region-detail_target_list_heading">Total<br>value of wins</h3>
					<p class="uk-region-detail_target_list_text">
						<span class="sector-export-value-currency">&pound;</span>{{ summary.totalValue | largeNumber( true ) | safe }}
					</p>
				</li>
			</ul>

		</div>
	</section>

	<section class="grid-row">
		<div class="column-single row-separator">
			<h2 class="section-title">{{ regionName }} performance</h2>
			<h3 class="page-date page-date--region-performance">{{ financialYear( performance.dateRange ) }}</h3>
			{{ regionPerformanceTable( performance.items ) }}
		</div>
	</section>

	<section class="grid-row row-separator">
		<div class="column-two-thirds">
			<h2 class="sector-heading">{{ regionName }} monthly performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( monthlyPerformance.dateRange ) }}</h3>
		</div>
		<div class="column-one-third">
			{{ monthlyPerformanceKey( monthlyPerformance.keys ) }}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			{{ monthlyPerformanceGraph( monthlyPerformance ) }}
		</div>
	</section>

	{% if topMarkets.items.length %}
	<section class="grid-row row-separator">
		<div class="column-single">
			<h2 class="sector-heading">Top performing markets (wins with no HVC tagged)</h2>
			<h3 class="sub-heading-date">{{ financialYear( topMarkets.dateRange ) }}</h3>
			{{ topMarketsTable( topMarkets ) }}
		</div>
	</section>
	{% endif %}

{% endblock %}

{%- block pageScript %}
<script>
	mi.pages.ukRegion({
		progress: {{ summary.progress | dump | safe }},
		topMarkets: {
			count: {{ topMarkets.count | dump | safe }},
			url: {{ urls.ukRegionTopNonHvc( regionId ) | dump | safe }}
		}
	});
</script>
{% endblock pageScript -%}
