{% extends 'layout.html' %}

{% set pageName %}UK Region HVC wins - {{ region.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/table-standard-types.html' import hvcWinTable %}
{% from 'macros/tabs/uk-regions.html' import tabs %}

{% block page_content %}

	<h1 class="page-heading">
		{{ region.name }} <span class="page-heading_secondary">UK Region</span>
	</h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( region.id, hvcWins = true ) }}

	{{ hvcWinTable( 'UK Region', wins ) }}

{% endblock %}
