{% extends 'layout-investment.html' %}

{% if tab.isOverseasRegions %}
	{% set pageName='Investment Homepage with overseas markets' %}
{% elif tab.isUkRegions %}
	{% set pageName='Investment Homepage with UK regions' %}
{% else %}
	{% set pageName='Investment Homepage' %}
{% endif %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/pie-charts.html' import fdiStagePieChart, fdiHvcPieChart %}
{% from 'macros/page-heading.html' import pageHeading %}
{% from './macros/headline-figures.html' import headlineFigure, headlineSubFigure, headlineBreakdown %}
{% from './macros/table-data.html' import dataTable %}
{% from './macros/table-win-progress.html' import winProgressTable %}
{% from './macros/table-region-progress.html' import regionProgressTable %}

{% block page_heading %}
	{{ pageHeading( 'Investment performance' ) }}
{% endblock %}

{% block page_content %}

	<h2 class="fdi-overview-heading">Headlines</h2>
	<h3 class="fdi-overview-sub-heading">On <span class="fdi-page-date_emphasize">{{ null | dateOnly }}</span> at {{ null | timeOnly }} related to <span class="fdi-page-date_emphasize">financial year {{ selectedYear }}/{{ ( selectedYear - 2000 ) + 1  }}</span></h3>

	<section class="grid-row fdi-section">

		<div class="column-one-quarter fdi-section-row">

			{{ headlineFigure( 'Project wins', 'Total', headlines.wins.total | preciseNumber ) }}

			{{ headlineBreakdown( [
				[ 'High', headlines.wins.percentage.high + '%' ],
				[ 'Good', headlines.wins.percentage.good + '%' ],
				[ 'Standard', headlines.wins.percentage.standard + '%' ]
			] ) }}

		</div>
		<div class="column-one-quarter fdi-section-row">

			{{ fdiHvcPieChart(
				'Non-HVC', headlines.breakdown.type.nonHvc,
				'HVC', headlines.breakdown.type.hvc
			) }}

			{{ fdiStagePieChart(
				'Verify win', headlines.breakdown.stage.verify,
				'Won', headlines.breakdown.stage.won,
				'perf-stage'
			) }}

		</div>
		<div class="column-one-quarter fdi-section-row">

			{{ headlineSubFigure( 'Jobs', 'Total', headlines.jobs.total | preciseNumber ) }}

			{{ headlineBreakdown( [
				[ 'New jobs', headlines.jobs.new | preciseNumber ],
				[ 'Safeguarded jobs', headlines.jobs.safeguarded | preciseNumber ]
			], 'jobs' ) }}

		</div>
		<div class="column-one-quarter">

			{{ headlineSubFigure( 'Pipeline', 'Active', headlines.pipeline.total | preciseNumber ) }}

			{{ headlineBreakdown( [
				[ 'High', headlines.pipeline.percentage.high + '%' ],
				[ 'Good', headlines.pipeline.percentage.good + '%' ],
				[ 'Standard', headlines.pipeline.percentage.standard + '%' ]
			] )}}
		</div>
	</section>

	<section class="grid-row fdi-section">
		<div class="column-single">

			<h2 class="fdi-overview-heading">Investment wins</h2>
			<p class="fdi-overview-sub-heading">Verified won in all of the department</p>

			{{ dataTable( 'fdi-wins', details.wins ) }}
		</div>
	</section>

	<h2 class="fdi-overview-heading">Investment pipeline</h2>
	<p class="fdi-overview-sub-heading">Active in all of the department</p>
	<section class="grid-row">
		<div class="column-three-quarters">

			{{ dataTable( 'fdi-active-pipeline', details.activePipeline ) }}

		</div>
		<div class="column-one-quarter">

			<div class="fdi-pipeline-projects">
				<h3 class="fdi-pipeline-projects-heading">All pipeline projects</h3>

				{% macro projectDetail( name, value1, value2 ) %}
					<dl class="fdi-pipeline-projects-list_detail">
						<dt class="fdi-pipeline-projects-list_detail_term">{{ name }}</dt>
						<dd class="fdi-pipeline-projects-list_detail_value">{{ value1 }}</dd>
						<dd class="fdi-pipeline-projects-list_detail_value">{{ value2 }}%</dd>
					</dl>
				{% endmacro %}

				<ol class="fdi-pipeline-projects-list">
					<li class="fdi-pipeline-projects-list_item">
						<span class="position-marker" data-number="1"></span>
						{{ projectDetail(
							'Prospect',
							details.pipeline.prospect.count,
							details.pipeline.prospect.percent
						) }}
					</li>
					<li class="fdi-pipeline-projects-list_item">
						<span class="position-marker" data-number="2"></span>
						{{ projectDetail(
							'Assign PM',
							details.pipeline.assign.count,
							details.pipeline.assign.percent
						) }}
					</li>
					<li class="fdi-pipeline-projects-list_item">
						<span class="position-marker" data-number="3"></span>
						{{ projectDetail(
							'Active',
							details.pipeline.active.count,
							details.pipeline.active.percent
						) }}
					</li>
				</ol>
			</div>
		</div>
	</section>

	<nav class="page-nav page-nav--divider" id="page-tabs">
		<ul class="page-nav_list">
			<li class="page-nav_list_item">
				<a class="page-nav_link{% if tab.isSectors %} page-nav_link--active{% endif %}" href="{{ urls.investment.index() }}#page-tabs">Sectors</a>
			</li>
			<li class="page-nav_list_item">
				<a class="page-nav_link{% if tab.isOverseasRegions %} page-nav_link--active{% endif %}" href="{{ urls.investment.index({ osRegions: true } ) }}#page-tabs">Overseas markets</a>
			</li>
			<li class="page-nav_list_item">
				<a class="page-nav_link{% if tab.isUkRegions %} page-nav_link--active{% endif %}" href="{{ urls.investment.index({ ukRegions: true } ) }}#page-tabs">UK regions</a>
			</li>
		</ul>
	</nav>

	<h2 class="fdi-overview-heading" id="progress-tab-heading">{{ progressHeading }}</h2>

	{% if not tab.isUkRegions %}
	<p class="visually-hidden">Project broken down by:</p>
	<ul class="key-fdi-win-progress">
		<li class="key-fdi-win-progress_item">Won<span class="key-fdi-win-progress_block key-fdi-win-progress_block--won"></span></li>
		<li class="key-fdi-win-progress_item">Verify win<span class="key-fdi-win-progress_block key-fdi-win-progress_block--verify-win"></span></li>
		<li class="key-fdi-win-progress_item">Active pipeline<span class="key-fdi-win-progress_block key-fdi-win-progress_block--pipeline"></span></li>
		<li class="key-fdi-win-progress_item">Target<span class="key-fdi-win-progress_target"></span></li>
	</ul>
	{% endif %}

	<div class="table-fdi-win-progress-wrapper">

		{% set url=urls.current( { query: { tab: tab.selected } } ) %}

		{%- if tab.isUkRegions -%}

			{{ regionProgressTable( progressRows, url, sortKeys ) }}

		{% else -%}

			{{ winProgressTable( progressRows, url, progressColumnHeading, progressColumnHeadingKey, sortKeys ) }}

		{%- endif %}
	</div>

{% endblock %}
