@import '_deprecated/typography';
@import 'helpers';
@import 'mi-colours';

.global-performance-heading-row {
	margin-top: pem( 40 );
}

.homepage-date-column {
	text-align: right;
	padding-top: pem( 9 );
}

.homepage-links-row {

	border-top: 1px solid $grey-2;
	margin-top: pem( 40 );

	.column-one-third:first-of-type {
		margin-left: pem( -10 );/* line up left edge with content above (remove .sector-list padding below) */
	}
}

.sector-list-heading {
	@include bold-24;
	margin-top: pem( 40, 24 );
	padding: 0 0 0 pem( 10, 24 );
	margin-bottom: 0.75em;
	small{
		@include core-16;
	}
}

.sector-list-sub-heading {
	@include bold-19;
	padding: 0 0 0 pem( 10, 19 );
	margin-bottom: pem( 16, 19 );
}

.sector-list {
	list-style: none;
	padding: 0 0 0 pem( 10, 16 );
	margin-top: 0;
}

.sector-list_item {
	margin-bottom: pem( 10 );
}

.sector-group-list {
	@extend .sector-list;
	color: $grey-1;
}

.sector-group-list_item {
	@extend .sector-list_item;
}

$sector-sub-list-padding: pem( 30 );
.sector-list_sub-list {
	padding-left: $sector-sub-list-padding;
}

.global-hvc-heading {
	@include bold-19;
	margin-left: pem( 10, 19 );
}

.global-hvc-list {
	margin-left: $sector-sub-list-padding + pem( 10 );
	padding: 0;
}
