@import 'typography';
@import 'helpers';
@import '../mi-colours';

.global-performance-heading-row {
	margin-top: pem( 40 );
}

.sector-list-heading {
	border-top: 10px solid #000;
	@include bold-24;
	margin-top: pem( 60, 24 );
	padding: 0.5em 0 0 pem( 10, 19 );
	margin-bottom: 0.75em;
}

.sectors-overview-link,
.regions-overview-link {
	display: inline-block;
	margin-bottom: 1em;
	margin-left: 0.625em;
	@include bold-19;
}

.sector-list {
	list-style: none;
	padding: 0 0 0 pem( 10, 16 );
	margin-top: 0;
}

.sector-group-list {
	@extend .sector-list;
	color: $grey-1;
}
/*
.sector-list_item {

	margin-top: pem( 5, 16 );

	&:first-of-type {
		margin-top: 0;
	}
}

.sector-list_parent-sectors {
	padding-left: pem( 15, 16 );
}
*/

.sector-group-list_item {
	margin-bottom: pem( 10 );
}

.global-hvc-heading {
	@include bold-19;
	margin-left: pem( 10, 19 );
}

.global-hvc-list {
	margin-left: pem( 20 );
	padding: 0;
}
