.os-regions-country-heading {
	@include bold-24;
	margin-bottom: pem( 20, 24 );
}

.os-regions-countries-list{
	padding: 0;
}

.os-regions-country-letters {
	padding: 0;
	margin-bottom: $gutter;
}

.os-regions-country-letters_letter {

	display: inline-block;
	padding: 0 pem( 5 );
	color: $grey-2;

	&:first-of-type {

		padding-left: 0;
	}
}
