@import 'helpers';
@import '../mi-colours';

$sector-teams-list-font-size: 14;

.sector-teams-ov-table {
	border-collapse: collapse;
	margin-top: pem( 10 );
}

.sector-teams-ov-table_row {
	font-weight: bold;
	@include bold-16;
	border-top: 2px solid #000;
}

.sector-teams-ov-table_row--hvc {
	background-color: $grey-4;
	border-top: 4px solid #fff;
	font-weight: normal;
	@include core-14;
}

.sector-teams-ov-table_heading {
	@include bold-14;
	text-align: left;
}

.sector-teams-ov-table_heading--target {
	text-align: right;
}

.sector-teams-ov-table_heading--hvc-non-hvc {
	padding-left: pem( 20, $sector-teams-list-font-size );
}

.sector-teams-ov-table_heading_sub {
	font-weight: normal;
	display: block;
}

.sector-teams-ov-table_cell {
	padding-top: pem( 6, $sector-teams-list-font-size );
	padding-bottom: pem( 6, $sector-teams-list-font-size );
}

.sector-teams-ov-table_cell a {
	text-decoration: none;
}

// $sector-teams-cell-name-width: 20%;
// $sector-teams-cell-performance-width: 35%;
// $sector-teams-cell-current-value-width: 15%;
// $sector-teams-cell-target-value-width: $sector-teams-cell-current-value-width;
// $sector-teams-cell-value-percentage-width: 0%;
// $sector-teams-cell-hvc-non-hvc-width: 15%;

$sector-teams-cell-name-width: 26%;
$sector-teams-cell-performance-width: 18%;
$sector-teams-cell-current-value-width: 12%;
$sector-teams-cell-target-value-width: $sector-teams-cell-current-value-width;
$sector-teams-cell-value-percentage-width: 0%;
$sector-teams-cell-hvc-non-hvc-width: 12%;
$sector-teams-cell-non-hvc-value-width: 10%;
$sector-teams-cell-total-value-width: 10%;

$sector-teams-cell-name-padding-left: 55px;

.sector-teams-ov-table_cell--name {
	width: $sector-teams-cell-name-width;
	padding-right: pem( 10, $sector-teams-list-font-size );
	padding-left: $sector-teams-cell-name-padding-left;
	position: relative;
}

.sector-teams-ov-table_cell--performance{
	width: $sector-teams-cell-performance-width;
	padding-right: pem( 10, $sector-teams-list-font-size );
}

.sector-teams-ov-table_cell--current-value {
	width: $sector-teams-cell-current-value-width;
	position: relative;
}

.sector-teams-ov-table_cell--target-value {
	width: $sector-teams-cell-target-value-width;
	text-align: right;
	padding-bottom: pem( 18, 14 ); //padding for the progress bar to line up the text
}

.sector-teams-ov-table_cell--value-percentage {
	width: $sector-teams-cell-value-percentage-width;
}

.sector-teams-ov-table_cell--hvc-non-hvc {
	width: $sector-teams-cell-hvc-non-hvc-width;
}

.sector-teams-ov-table_cell--non-hvc-value {
	width: $sector-teams-cell-non-hvc-value-width;
	color: $non-hvc;
}

.sector-teams-ov-table_cell--total-value {
	width: $sector-teams-cell-total-value-width;
}

.sector-teams-ov-table_cell--hvc-group {
	padding-left: $sector-teams-cell-name-padding-left + 12;
}

.sector-teams-ov-table_cell--large {
	@include bold-19;
}

.sector-teams-ov-table_image {
	position: absolute;
	left: 0;
	top: 7;
}
