{% extends 'layout.html' %}

{% set pageName='Data download' %}

{% block page_heading %}
	<h1 class="page-heading">
		Download data in a spreadsheet
	</h1>
{% endblock %}

{% macro workspaceMessage( url ) %}
	<p class="download-group-message">
		This data has been moved to <a href="{{ url }}">Data Workspace</a>.
	</p>
{% endmacro %}

{% block page_content %}

	<div class="update-banner">
		<h2 class="update-banner_heading">These downloads have moved to Data Workspace</h2>
		<p class="update-banner_text">
			The data downloads previously on this page are now available on <a href="{{ workspaceUrls.index }}">Data Workspace</a>. Follow the links below for the data you need.
		</p>
		<p class="update-banner_text">
			Note that you can still download search results in Data Hub. See the <a href="{{ helpDownloadsUrl }}">help article on downloading</a> for guidance
		</p>
	</div>

	<p class="download-message">
		Make sure you know the rules and your responsibilities around handling Official Sensitive DIT information. More information can be found on the intranet about <a href="{{ usingMiUrl }}">Using management information (MI)</a> and <a href="{{ kimPrinciplesUrl }}">Knowledge and information management: principles</a>.
	</p>

	<div class="grid-row">

		<div class="column-one-third">

			<h2 class="download-group-heading"><span class="download-group-heading_text">Export Wins</span><span class="download-group-heading_valign"></span></h2>
			{{ workspaceMessage( workspaceUrls.exportWins ) }}

		</div>

		<div class="column-one-third">

			<h2 class="download-group-heading"><span class="download-group-heading_text">FDI</span><span class="download-group-heading_valign"></span></h2>
			{{ workspaceMessage( workspaceUrls.fdi ) }}

		</div>

		<div class="column-one-third">

			<h2 class="download-group-heading"><span class="download-group-heading_text">Service deliveries &amp; interactions</span><span class="download-group-heading_valign"></span></h2>
			{{ workspaceMessage( workspaceUrls.sdi ) }}

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">

			<h2 class="download-group-heading">
				Export client survey: sample frame
			</h2>
			{{ workspaceMessage( workspaceUrls.clientSurvey ) }}

		</div>
	</div>

	<div class="grid-row download-section-separator">
		<div class="column-two-thirds">
			<h2 class="download-section-heading">Contacts and Companies</h2>
		</div>
	</div>

	<div class="grid-row download-group-separator">
		<div class="column-one-third">

			<h3 class="download-group-heading">UK contacts</h3>
			{{ workspaceMessage( workspaceUrls.contacts ) }}

		</div>
		<div class="column-one-third">

			<h3 class="download-group-heading">UK companies</h3>
			{{ workspaceMessage( workspaceUrls.companies ) }}

		</div>
	</div>

{% endblock  %}
