{% extends 'layout.html' %}

{% set pageName='Download raw data' %}

{% block page_content %}

	<h1 class="page-heading">
		Download data in a spreadsheet
	</h1>

	<p class="download-message">
		Make sure you know the rules and your responsibilities around handling Official Sensitive DIT information. Read the 12 golden rules of handling data.
	</p>

	{% if files.export or files.fdi or files.sdi %}
	<div class="grid-row">
		<div class="column-one-third">
			{% if files.export %}
			<h2 class="download-group-heading"><span class="download-group-heading_text">Export Wins</span><span class="download-group-heading_valign"></span></h2>
			<p class="download-group-current">
				<a class="download-group-current_link" href="{{ urls.downloadExportFile( files.export.current ) }}">Download current CSV file.<br>{{ files.export.current.report_end_date | dateStamp }}</a>
				<span class="download-group-current_date">(last updated {{ files.export.current.created | dateOnly }})</span>
			</p>
			<ol class="download-group-list">
				{% for file in files.export.previous %}
				<li class="download-group-list_item">
					<a href="{{ urls.downloadExportFile( file ) }}">Download ({{ file.financial_year }})</a>
				</li>
				{% endfor %}
			</ol>
			{% endif %}
		</div>
		<div class="column-one-third">
			{% if showFdi and files.fdi %}
			<h2 class="download-group-heading"><span class="download-group-heading_text">FDI</span><span class="download-group-heading_valign"></span></h2>
			<p class="download-group-current">
				<a class="download-group-current_link" href="{{ urls.downloadFdiFile( files.fdi.latest, 'CSV - ' ) }}">Download current CSV file.<br>{{ files.fdi.latest.report_end_date | dateStamp }}</a>
				<span class="download-group-current_date">(last updated {{ files.fdi.latest.created | dateOnly }})</span>
			</p>
			<ol class="download-group-list">
				{% for file in files.fdi.months %}
				<li class="download-group-list_item">
					<a href="{{ urls.downloadFdiFile( file ) }}">Download {{ file.report_end_date | dateStamp }}</a>
				</li>
				{% endfor %}
			</ol>
			{% endif %}
		</div>
		<div class="column-one-third">
			{% if files.sdi %}
			<h2 class="download-group-heading"><span class="download-group-heading_text">Service deliveries &amp; interactions</span><span class="download-group-heading_valign"></span></h2>
			<p class="download-group-current">
				<a class="download-group-current_link" href="{{ urls.downloadInteractionsFile( files.sdi.latest ) }}">Download current CSV file.<br>{{ files.sdi.latest.report_end_date | dateStamp }}</a>
				<span class="download-group-current_date">(last updated {{ files.sdi.latest.created | dateOnly }})</span>
			</p>
			<ol class="download-group-list">
				{% for file in files.sdi.months %}
				<li class="download-group-list_item">
					<a href="{{ urls.downloadInteractionsFile( file ) }}">Download {{ file.report_start_date | dateStamp }} - {{ file.report_end_date | dateStamp }}</a>
				</li>
				{% endfor %}
			</ol>
			{% endif %}
		</div>
	</div>

	{% else %}
		<p class="download-no-files">
			Sorry, there are no data downloads available.
		</p>
	{% endif %}

	{% if files.kantar and files.kantar.months.length %}
		<div class="grid-row">
			<div class="column-one-third">
				<h2 class="download-group-heading">
					Export Client Sample Frame
				</h2>
				<ol class="download-group-list">
					{% for file in files.kantar.months %}
					<li class="download-group-list_item">
						<a href="{{ urls.downloadSampleFrameFile( file ) }}">Download {{ file.report_start_date | dateStamp }} - {{ file.report_end_date | dateStamp }}</a>
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	{% endif %}

	{% if files.contacts or files.companies %}

	<div class="grid-row download-section-separator">
		<div class="column-two-thirds">
			<h2 class="download-section-heading">Contacts and Companies</h2>
			<p class="download-section-message">
				Only send email marketing to contacts that have checked yes in the email marketing column
			</p>
		</div>
	</div>

	{% macro ukItems( downloadName, files, name='region' ) %}
	<ol class="download-group-list">
		{% for file in files %}
		<li class="download-group-list_item">
			<a href="{{ urls[ downloadName ]( file ) }}">
				<span class="download-group-list_item_text1">Download -</span>
				<span class="download-group-list_item_text2">{{ file[ name ] }}</span>
			</a>
			{% if file.updated -%}
			<span class="download-group-list_item_updated">
				(last updated {{ file.created | dateStamp }})
			</span>
			{%- endif %}
		</li>
		{% endfor %}
	</ol>
	{% endmacro %}

	<div class="grid-row download-group-separator">
		<div class="column-one-third">

			{% if files.contacts.regions %}
			<h3 class="download-group-heading">UK contacts by region</h3>
			{{ ukItems( 'downloadContactsByRegionFile', files.contacts.regions ) }}
			{% endif %}

		</div>
		<div class="column-one-third">

			{% if files.companies.regions %}
			<h3 class="download-group-heading">UK companies by region</h3>
			{{ ukItems( 'downloadCompaniesByRegionFile', files.companies.regions ) }}
			{% endif %}

		</div>
	</div>

	<div class="grid-row download-group-separator">
		<div class="column-one-third">

			{% if files.contacts.sectors %}
			<h3 class="download-group-heading">UK contacts by sector</h3>
			{{ ukItems( 'downloadContactsBySectorFile', files.contacts.sectors, 'sector' ) }}
			{% endif %}

		</div>
		<div class="column-one-third">

			{% if files.companies.sectors %}
			<h3 class="download-group-heading">UK companies by sector</h3>
			{{ ukItems( 'downloadCompaniesBySectorFile', files.companies.sectors, 'sector' ) }}
			{% endif %}

		</div>
	</div>

	{% endif %}

{% endblock  %}
