{% extends 'layout.html' %}

{% set pageName='Overseas Regions Overview' %}

{% from 'macros/overview.html' import overviewBlocks, currentValue %}

{% block page_content %}

	<h2>
		Overseas regions overview
	</h2>

	<ol class="overseas-region-groups">
	{% set loopIndex = 0 %}
	{% for group in regionGroups -%}
		
		<li class="overseas-region-groups_group">
			
			<img src="{{ group.image.url }}" width="{{ group.image.width }}" height="{{ group.image.height }}" alt="group map" class="overseas-region-groups_group_image">

			<div>{# wrapper for flex #}
			<table class="overseas-region-overview-data">

				<caption class="visually-hidden">
					Region overview group {{ loop.index }}
				</caption>

				<thead{% if loop.index > 1 %} class="visually-hidden"{% endif %}>
					<tr class="overseas-region-overview-data_headings">
						<th class="overseas-region-overview-data_headings_heading"><span class="visually-hidden">Region name (and countries)</span></th>
						<th class="overseas-region-overview-data_headings_heading">HVC performance (each square represents an HVC within a region)</th>
						<th class="overseas-region-overview-data_headings_heading">Current</th>
						<th class="overseas-region-overview-data_headings_heading overseas-region-overview-data_headings_heading--target">Target</th>
						<th class="overseas-region-overview-data_headings_heading"><span class="visually-hidden">Progress against target</span></th>
						<th class="overseas-region-overview-data_headings_heading overseas-region-overview-data_headings_heading--hvc-non-hvc">
							<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--hvc"></span>
							HVC vs.<br>
							<span class="overseas-region-overview-data_heading_hvc-non-hvc_block overseas-region-overview-data_heading_hvc-non-hvc_block--non-hvc"></span>
							non-HVC
						</th>
					</tr>
				</thead>

				<tbody>
				{%- for region in group.regions -%}

					{% set loopIndex = ( loopIndex + 1 ) %}

					<tr class="overseas-region-overview-data_region{% if loopIndex % 2 === 1 %} overseas-region-overview-data_region--odd{% endif %}">

						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_name overseas-region-overview-data_region_name--{{ region.colour }}">
							<a href="{{ uuid }}/overseas-regions/{{ region.id }}/">{{ region.name }}</a>
							<span class="overseas-region-overview-data_region_name_countries">
								{{- region.markets | pluralise( 'country', 'countries' ) -}}
							</span>
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_performance">
							{{- overviewBlocks( region.hvcColours ) -}}
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_current">
							{{- currentValue( region.value ) -}}
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_target">
							&pound;{{ region.value.target | largeNumber }}
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_progress">
							<span class="visually-hidden">{{ region.value.percentage }}%</span>
						</td>
						<td class="overseas-region-overview-data_cell overseas-region-overview-data_region_hvc-non-hvc">
							<div class="pie pie--center" style="animation-delay: -{{ region.hvcVsNonhvcPercentage }}s">{{ region.hvcVsNonhvcPercentage }}%</div>
						</td>

					</tr>
			
				{%- endfor -%}
				</tbody>

			</table>
			</div>
		</li>

	{%- endfor %}
	</ol>
{% endblock %}
