{% extends 'layout.html' %}

{% set pageName %}Post non HVC wins - {{ post.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/win-tables.html' import singleWinTable %}
{% from 'macros/tabs/post.html' import tabs %}
{% from 'macros/os-regions-types-tabs.html' import osRegionsTypesTabs %}

{% block page_content %}

	<h1 class="page-heading">
		{{ post.name }} <span class="page-heading-secondary">Post</span>
	</h1>
	{% include 'partials/year-selector.html' %}
	{{ osRegionsTypesTabs( posts=true, linkPosts=true ) }}
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( post.id, nonHvcWins = true ) }}

	{{ singleWinTable( 'post', nonHvcWins = wins.non_hvc ) }}

{% endblock %}
