.global-performance-heading {
	@include bold-24;
}

.global-performance-content {
	padding-top: pem( 10 );
}

.global-performance_hvc-progress {
	margin: pem( 10 ) 0 pem( 60 ) 0;
}

.global-performance_hvc-progress_heading {
	@include bold-16;
	margin-bottom: pem( 10 );
}

.global-performance_hvc-progress_figure {
	@include bold-36;
	margin: 0;
}

.global-performance-figures {
	margin: 0;
}

.global-performance-figures_heading {
	@extend .global-performance_hvc-progress_heading;
}

.global-performance-figures_headline-figure {
	@include bold-24;
	margin: 0;
}

$global-performance-figures_breakdown_margin: 4;
.global-performance-figures_breakdown-heading {
	@include bold-16;
	display: inline-block;
	margin-top: pem( $global-performance-figures_breakdown_margin, 16 );
}

.global-performance-figures_breakdown-figure {
	@include core-16;
	display: inline-block;
	margin: pem( $global-performance-figures_breakdown_margin, 16 ) 0 0 0;
	padding: 0 pem( 40 ) 0 0;
}
