{% extends 'layout.html' %}

{% set pageName='Countries' %}

{% from 'macros/os-regions-types-tabs.html' import osRegionsTypesTabs %}
{% from 'macros/alpha-list.html' import alphaList %}
{% from 'macros/page-heading.html' import pageHeading %}

{% block page_heading %}
	{{ pageHeading( 'All countries' ) }}
{% endblock %}

{% block page_content %}

	{{ osRegionsTypesTabs( countries=true ) }}

	<h2 class="os-regions-country-heading">Choose a country</h2>

	{{ alphaList( urls.country, countries ) }}
{% endblock %}
