{% extends 'layout.html' %}

{% set pageName %}Country HVC wins - {{ country.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/table-standard-types.html' import hvcWinTable %}
{% from 'macros/tabs/country.html' import tabs %}
{% from 'macros/os-regions-types-tabs.html' import osRegionsTypesTabs %}
{% from 'macros/page-heading.html' import pageHeading %}

{% block page_heading %}
	{{ pageHeading( country.name, subHeading = 'Country' ) }}
{% endblock %}

{% block page_content %}

	{{ osRegionsTypesTabs( countries=true, linkCountries=true ) }}
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( country.id, hvcWins = true ) }}

	{{ hvcWinTable( 'country', wins ) }}

{% endblock %}
