@import 'typography';
@import 'helpers';


.sector-list-heading {
	border-top: 5px solid #000;
	@include bold-19;
	margin-top: 1em;
	padding: 0.5em 0 0 pem( 10, 19 );
	margin-bottom: 0.75em;
}

.sectors-overview-link,
.regions-overview-link {
	display: inline-block;
	margin-bottom: 1em;
	margin-left: 0.625em;
}

.sector-list {
	list-style: none;
	padding: 0 0 0 pem( 10, 16 );
	margin-top: 0;
}
