@import 'mi-colours';
@import 'helpers';

.key {
	border: 1px solid $grey-2;
	padding: pem( 15 );
	overflow: hidden;
}

.key_heading {
	@include bold-16;
	margin-bottom: pem( 15 );
}

.key_list {
	overflow: hidden;
	margin: 0 2% 0 0;
	float: left;
	width: 48%;
	line-height: 1.1;
}

$key-list-margin: 3;

.key_list_term {
	float: left;
	clear: left;
	margin-bottom: pem( $key-list-margin );
}

.key_list_data {
	float: left;
	margin-left: 1em;
	@include core-14;
	max-width: 75%;
	margin-bottom: pem( $key-list-margin );
}

.key_list_bar {
	display: inline-block;
	width: 20px;
	height: 10px;
}

.key_list_bar--hvc {
	background-color: $hvc;
}

.key_list_bar--unconfirmed {
	background-color: $unconfirmed;
}

$over-arrow-size: 10px;

.key_list_arrow {
	width: 0;
	height: 0;
	border-top: $over-arrow-size solid transparent;
	border-bottom: $over-arrow-size solid transparent;
	display: inline-block;
	margin-right: 10px; //match the width of the bars
}

.key_list_arrow--hvc {
	border-left: $over-arrow-size solid $hvc;
}

.key_list_arrow--unconfirmed {
	border-left: $over-arrow-size solid $unconfirmed;
}

.key_list_block {
	display: inline-block;
	width: 10px;
	height: 10px;
}

.key_list_block--green {
	background-color: $mi-green;
}

.key_list_block--amber {
	background-color: $mi-amber;
}

.key_list_block--red {
	background-color: $mi-red;
}

.key_list_block--zero {
	width: 8px;
	height: 8px;
	border: 1px solid $unconfirmed;
}
