@import 'grid_layout';
@import 'design-patterns/alpha-beta';
@import 'colours';
@import 'helpers';

.grid-row {
	@extend %grid-row;
}

.column-single {
	@include grid-column( 1 );
}

.column-half {
	@include grid-column( 1/2 );
}

.column-one-third {
	@include grid-column( 1/3 );
}

.column-two-thirds {
	@include grid-column( 2/3 );
}

.column-one-quarter {
	@include grid-column( 1/4 );
}

.column-three-quarters {
	@include grid-column( 3/4 );
}

.column-one-fifth {
	@include grid-column( 1/5 );
}

.column-two-fifths {
	@include grid-column( 2/5 );
}

.column-three-fifths {
	@include grid-column( 3/5 );
}

.column-four-fifths {
	@include grid-column( 4/5 );
}

.column-one-seventh {
	@include grid-column( 1/7 );
}

.column-two-sevenths {
	@include grid-column( 2/7 );
}

.column-three-sevenths {
	@include grid-column( 3/7 );
}

.column-four-sevenths {
	@include grid-column( 4/7 );
}

.column-five-elevenths {
	@include grid-column( 5/11 );
}

.column-six-elevenths {
	@include grid-column( 6/11 );
}

.phase-banner  {
  @include phase-banner();
}

.top-nav {
	border-bottom: 1px solid $grey-2;
	padding: 0.5em 0;
 	margin-bottom: 0.5em;
 	overflow: hidden;
}

.top-nav_list {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.top-nav_list_item {

	margin-bottom: pem( 5 );

	@include media( tablet ){

		border-left: 1px solid $grey-2;
		padding-left: pem( 10 );
		margin-left: pem( 10 );
		margin-bottom: 0;
		display: inline-block;

		&:first-of-type {
			border-left: 0;
			padding-left: 0;
			margin-left: 0;
		}
	}
}

.top-nav_username {

	display: block;

	@include media( tablet ){

		float: right;
	}
}

.experiments {

	position: absolute;
	top: pem( 8 );
	right: pem( 26 );
	padding: pem( 10 );
	background-color: $grey-2;
	color: #000;
	text-decoration: none;

	&:visited,
	&:active,
	&:link {
		color: #000;
	}
}

.experiments--on {
	background-color: $turquoise;
}

.hide-experiments {

	position: absolute;
	top: pem( 8 );
	right: pem( 10 );
	display: inline-block;
	width: pem( 15 );
	background-color: $grey-2;
	text-align: center;
	border-left: 1px solid $grey-1;
	cursor: pointer;

	&:hover {
		background-color: red;
	}
}

.page-content {
	@extend %site-width-container;
}
