@import '_deprecated/colours';

@function tint( $color, $percentage ){
	@return mix( white, $color, $percentage );
}

@function shade( $color, $percentage ){
	@return mix( black, $color, $percentage );
}

$mi-red: $mellow-red;
$mi-amber: $yellow;
$mi-green: tint( $green, 25 );

$pie-default: $grey-2;
$pie-default-wedge: $mauve;

$mi-pink: $pink;

$hvc: shade( $link-hover-colour, 2 );
$hvc-unconfirmed: tint( $hvc, 50 );

$non-hvc: tint( $pink, 15 );
$non-hvc-unconfirmed: tint( $non-hvc, 50 );

$non-export: tint( $mauve, 25 );
$non-export-unconfirmed: tint( $non-export, 50 );

$confirmed: #000;
$unconfirmed: shade( $grey-2, 5 );

$date-bg: #ffefd2;

$fdi-non-hvc: $baby-pink;
$fdi-hvc: $purple;

$fdi-verify-win: $yellow;
$fdi-won: $fuschia;
