@import 'colours';

@function tint( $color, $percentage ){
	@return mix( white, $color, $percentage );
}

$mi-red: tint( $mellow-red, 25% );
$mi-amber: tint( $orange, 25% );
$mi-green: $turquoise;

$overview-hvc: $grey-2;
$overview-non-hvc: $light-blue;
