@import 'colours';

@function tint( $color, $percentage ){
	@return mix( white, $color, $percentage );
}

$mi-red: $mellow-red;
$mi-amber: $yellow;
$mi-green: $green-50;

$pie-default: $grey-2;
$pie-default-wedge: $mauve;

$mi-pink: $pink;

$hvc: $link-hover-colour;
$non-hvc: tint( $pink, 40 );

$confirmed: #000;
$unconfirmed: $grey-2;

$date-bg: #ffefd2;
