@import 'colours';
@import 'mi-colours';


.overseas-region-groups {
	list-style: none;
	padding: 0;
}

.overseas-region-groups_group {

}

.overseas-region-groups_group_image {
	display: inline;
}

.overseas-region-groups_group_regions {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	width: 60%;
}

.overseas-region-groups_group_regions_region {

	padding: 0.5em 0;

	&:nth-of-type( even ) {
		background-color: $grey-4;
	}
}

.overseas-region-groups_group_regions_region_heading {
	display: inline-block;
	width: 30%;
	@include core-14;
	vertical-align: middle;
}

.overseas-region-groups_group_regions_region_block-wrapper {
	display: inline-block;
}

.overseas-region-groups_group_regions_region_block {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 4px;
}

.overseas-region-groups_group_regions_region_block--red {
	background-color: $mi-red;
}

.overseas-region-groups_group_regions_region_block--amber {
	background-color: $mi-amber;
}

.overseas-region-groups_group_regions_region_block--green {
	background-color: $mi-green;
}
