@import 'colours';
@import 'mi-colours';


.overseas-region-groups {
	list-style: none;
	padding: 0;
}

.overseas-region-groups_group {
	clear: left;
	overflow: hidden;
	margin-bottom: 2em;
}

.overseas-region-groups_group_image {
	float: left;
}

.overseas-region-groups_group_regions {

}

.overseas-region-groups_group_regions_row {
	line-height: 1;
}

.overseas-region-groups_group_regions_region_name {
	width: 20%;
}

.overseas-region-groups_group_regions_region_performance {
	width: 35%;
}

.overseas-region-groups_group_regions_region_current {
	width: 15%;
}

.overseas-region-groups_group_regions_region_target {
	width: 15%;
}

.overseas-region-groups_group_regions_region_progress {
	width: 0%;
}

.overseas-region-groups_group_regions_region_hvc-non-hvc {
	width: 15%;
	text-align: center;
}

.overseas-region-groups_group_regions_region_name_countries {
	@include core-14;
	display: block;
	color: $grey-1;
}

.overseas-region-groups_group_regions_heading_hvc-non-hvc_block {
	display: inline-block;
	height: 10px;
	width: 10px;
}

.overseas-region-groups_group_regions_heading_hvc-non-hvc_block--hvc {
	background-color: $overview-hvc;
}

.overseas-region-groups_group_regions_heading_hvc-non-hvc_block--non-hvc {
	background-color: $overview-non-hvc;
}

.overseas-region-groups_group_regions_region {

	padding: 0.5em 0;

	&:nth-of-type( even ) {
		background-color: $grey-4;
	}
}

.overseas-region-groups_group_regions_region_name {
	@include core-14;
	vertical-align: middle;
}

.overseas-region-groups_group_regions_region_block-wrapper {
	display: inline-block;
	line-height: 1;
}

.overseas-region-groups_group_regions_region_block {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 4px;
}

.overseas-region-groups_group_regions_region_block--red {
	background-color: $mi-red;
}

.overseas-region-groups_group_regions_region_block--amber {
	background-color: $mi-amber;
}

.overseas-region-groups_group_regions_region_block--green {
	background-color: $mi-green;
}
