.overview-progress {
	border: 1px solid $grey-1;
	display: inline-block;
	width: 200%; /* make this span the current and target cells */
	line-height: 10px;
	float: left; //This was positioned absolutely, but IE 11 seemed to have an issue working out the position inside the flex item!?!
}

.overview-progress_amount {
	display: inline-block;
	background-color: $grey-2;
	height: 10px;
}
