@import 'mi-colours';

$overview-blocks-size: 10px;
$overview-blocks-size-zero: $overview-blocks-size - 2;

.overview-blocks {
	display: inline-block;
	line-height: 1;
}

.overview-blocks_block {
	display: inline-block;
	height: $overview-blocks-size;
	width: $overview-blocks-size;
	margin-right: 4px;
}

.overview-blocks_block--red {
	background-color: $mi-red;
}

.overview-blocks_block--amber {
	background-color: $mi-amber;
}

.overview-blocks_block--green {
	background-color: $mi-green;
}

.overview-blocks_block--zero {
	border: 1px solid $grey-2;
	background-color: #fff;
	height: $overview-blocks-size-zero;
	width: $overview-blocks-size-zero;
}
