@import 'colours';
@import 'mi-colours';


.overseas-region-groups {
	list-style: none;
	padding: 0;
}

.overseas-region-groups_group {

	clear: left;
	overflow: hidden;
	margin-bottom: 2em;
	display: flex;

	&:first-of-type {

		.overseas-region-groups_group_image:first-of-type {

			margin-top: 3em;
		}
	}
}

.overseas-region-groups_group_image {
	float: left;
	align-self: center;
	flex-shrink: 0;//stop the image from radomly getting a width of about 1px - for some reason!
}

.overseas-region-groups_group_data-wrapper {
	width: 100%;//FF fix
}

.overseas-region-overview-data {
	border-collapse: collapse;
}

.overseas-region-overview-data_headings {
	line-height: 1;
}

.overseas-region-overview-data_heading_hvc-non-hvc_block {
	display: inline-block;
	height: 10px;
	width: 10px;
}

.overseas-region-overview-data_heading_hvc-non-hvc_block--hvc {
	background-color: $hvc;
}

.overseas-region-overview-data_heading_hvc-non-hvc_block--non-hvc {
	background-color: $non-hvc;
}

.overseas-region-overview-data_region--odd {
	background-color: $grey-4;
}

.overseas-region-overview-data_headings_heading--target {
	text-align: right;
}

.overseas-region-overview-data_headings_heading--hvc-non-hvc {
	padding-left: pem( 15, 16 );
}

.overseas-region-overview-data_cell {
	padding-top: pem( 8, 16 );
	padding-bottom: pem( 8, 16 );
}

.overseas-region-overview-data_region_name {
	width: 20%;
	@include core-14;
	vertical-align: middle;
	padding-left: pem( 5, 14 );
}

.overseas-region-overview-data_region_performance {
	width: 35%;
}

.overseas-region-overview-data_region_current {
	width: 15%;
	position: relative;
}

.overseas-region-overview-data_region_target {
	width: 15%;
	text-align: right;
	padding-bottom: 20px; //padding for the progress bar to line up text
}

.overseas-region-overview-data_region_progress {
	width: 0%;
}

.overseas-region-overview-data_region_hvc-non-hvc {
	width: 15%;
	text-align: center;
}

.overseas-region-overview-data_region_name_countries {
	display: block;
	color: $grey-1;
}

.overseas-region-overview-data_region_name--pink {
	border-left: 2px solid #fb07fa;
}

.overseas-region-overview-data_region_name--blue {
	border-left: 2px solid #0dc3d8
}

.overseas-region-overview-data_region_name--green {
	border-left: 2px solid #c7fd09
}

.overseas-region-overview-data_region_name--purple {
	border-left: 2px solid #9744f5
}
