@import 'mi-colours';
@import 'typography';

$size: 40px;

/*
Pie code taken from https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/
Thanks Lea!
*/

.pie {
	position: relative;
	width: $size;
	height: $size;
	line-height: $size;
	border-radius: 50%;
	background: $pie-default;
	background-image: linear-gradient(to right, transparent 50%, $pie-default-wedge 0);
	color: transparent;
	text-align: center;
}

$sector-size: 70px;
.pie--sector {
	width: $sector-size;
	height: $sector-size;
	line-height: $sector-size;
}

.pie--hvc-vs-non {
	background: $hvc;
	background-image: linear-gradient(to right, transparent 50%, $non-hvc 0);
}

.pie--confirmed-vs-un {
	background: $confirmed;
	background-image: linear-gradient(to right, transparent 50%, $unconfirmed 0);
}

.pie--center {
	margin-left: auto;
	margin-right: auto;
}

.pie--inline {
	display: inline-block;
}

.pie--sector-team {
	@extend .pie--hvc-vs-non;
	@extend .pie--inline;
	@extend .pie--sector;
}

@keyframes spin {
	to { transform: rotate( .5turn ); }
}
@keyframes bg {
	50% { background: $pie-default-wedge; }
}

@keyframes bg-non-hvc {
	50% { background: $non-hvc; }
}

@keyframes bg-unconfirmed {
	50% { background: $unconfirmed; }
}

.pie::before {
	content: '';
	position: absolute;
	top: 0; left: 50%;
	width: 50%; height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	animation: spin 50s linear infinite, bg 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.pie--hvc-vs-non::before {
	animation: spin 50s linear infinite, bg-non-hvc 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.pie--confirmed-vs-un::before {
	animation: spin 50s linear infinite, bg-unconfirmed 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}


.pie-key {
	list-style: none;
	padding: 0 0 0 pem( 10 );
}

.pie-key--inline {
	display: inline-block;
}

.pie-key_item {
	@include core-14;
}

.pie-key_block {
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: $pie-default;
	margin-right: pem( 5, 14 );
}

.pie-key_block--slice {
	background-color: $pie-default-wedge;
}

.pie-key--hvc-vs-non {
	.pie-key_block {
		background-color: $hvc;
	}
	.pie-key_block--slice {
		background-color: $non-hvc;
	}
}

.pie-key--confirmed-vs-un {
	.pie-key_block {
		background-color: $confirmed;
	}
	.pie-key_block--slice {
		background-color: $unconfirmed;
	}
}

