@import 'colours';
@import 'typography';

.sector-wins_list-heading {
	@include bold-19;
	margin-top: 0;
	margin-bottom: pem( 5, 16 );
}

.sector-wins_list {
	padding: 0;
	margin: 0 0 pem( 15 ) 0;//bottom padding for when the numbers wrap - gives space beween the next heading
}

.sector-wins_list_item {
	
	display: table-cell;
	padding: 0 pem( 40, 16 ) 0 0;
	vertical-align: middle;
	text-align: center;

	&:last-of-type {
		border-right: none;
	}
}

.sector-wins_list_item_heading {

	@include bold-16;
	margin-top: 1em;

	&:first-of-type {
		margin-top: 0;
	}
}

.sector-wins_list_item_value {
	@include bold-24;
	margin: 0 0 0 0;
}

.sector-wins_list_item_value--hvc {
	color: $hvc;
}

.sector-wins_list_item_value_currency {
	font-size: 75%;
	font-weight: normal;
}


.sector-wins_list_item_values {
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.sector-wins_list_item_values_item {

	float: left;

	&:first-of-type {
		margin-right: pem( 30, 16 );
	}
}
