@import 'helpers';
@import 'typography';

#sector-performance {
	width: 100%;
	height: 400px;
}

.wins-pie {
	margin-top: 1em;
	width: 400px;
	height: 300px;
}

.sector-wins {
	margin-top: pem( 50 );
}

.sector-wins_heading {
	@include bold-27;
	margin-bottom: pem( 25, 27 );
}

.sector-wins_pie {
	width: 425px;
	height: 145px;
}

.sector-heading {
	@include bold-19;
}

.sector-heading--separator {
	margin-top: pem( 60, 19 );
}

.sector-heading--target {
	margin-bottom: pem( 10, 19 )
}

.sector-heading--zero-target {
	margin-top: pem( 10, 19 );
	margin-bottom: pem( 15, 19 );
}

.sector-export-value {
	@include bold-48;
	margin: 0;
}

.sector-overview {
	margin-top: pem( 25 );
}

.sector-overview_total-value-heading,
.sector-overview_confirmed-heading {
	@include bold-14;
	min-height: 3em;
}

.sector-overview_total-value-heading {
	max-width: 200px;
}

.sector-overview_charts {
	list-style: none;
	overflow: hidden;
	margin: 0;
}

.sector-overview_charts_chart {

	display: inline-block;
	float: left;

	&:first-of-type {
		margin-right: pem( 25 );
	}
}

.sector-overview_charts--single {

	.sector-overview_charts_chart {
		float: right;
	}
}

.sector-overview_charts_chart_average-time {
	@include bold-14;
	max-width: 100px;
	float: right;
	margin: 0 0 0 pem( 10, 14 );
}

.sector-overview_charts_chart_average-time_days {
	@include bold-24;
	display: block;
}
