@import 'mi-colours';
@import 'helpers';
@import 'typography';

.sector-detail {
	margin-top: pem( 50 );
	padding-bottom: pem( 15 );
}

.column-export-value {

	@extend .column-single;
	margin-top: 1em;

	@include media( tablet ){
		width: 50%;
		margin-top: 0;
	}

	@include media( desktop ){
		width: 18%;
	}
}

.column-charts {

	@extend .column-single;
	margin-top: 1em;

	@include media( tablet ){
		width: 75%;
	}

	@include media( desktop ){
		width: 50%;
		margin-top: 0;
	}
}

.column-average-time {

	@extend .column-single;
	margin-top: 1em;

	@include media( tablet ){
		width: 13%;
	}

	@include media( desktop ){
		margin-top: 0;
	}
}

.wins-pie {
	margin-top: 1em;
	width: 400px;
	height: 300px;
}

.sector-wins {
	margin-top: pem( 20 );
}

.sector-wins_heading {
	@include bold-27;
	margin-bottom: pem( 25, 27 );
}

.sector-wins_pie {
	width: 425px;
	height: 145px;
}

.sector-heading {
	@include bold-19;
}

.sector-heading--target {
	margin-bottom: pem( 10, 19 )
}

.sector-heading--zero-target {
	margin-top: pem( 10, 19 );
	margin-bottom: pem( 15, 19 );
}

.sector-export-heading {
	@include bold-16;
	margin-bottom: pem( 10, 16 );
}

.sector-export-confirmed-value {
	@include bold-36;
	margin: 0;
}

.sector-export-unconfirmed-value {
	@extend .sector-export-confirmed-value;
	color: $unconfirmed;
}

.sector-export-value-currency {
	font-size: 75%;
	font-weight: normal;
}

.sector-overview {
	margin-top: pem( 25 );
}

.sector-overview_total-value-heading,
.sector-overview_confirmed-heading {
	@include bold-14;
	min-height: 3em;
	max-width: 80%;
	margin-bottom: pem( 10, 14 );
}

.sector-overview_charts {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.sector-overview_charts_chart {

	float: left;

	@include media( tablet ){
		width: 50%;
	}
}

.sector-overview_charts--single {

	.sector-overview_charts_chart {
		float: right;
	}
}

.sector-overview_charts_chart_average-time {
	@include bold-14;
	max-width: 100px;
	float: right;
	margin: 0 0 0 pem( 10, 14 );
}

.sector-overview_charts_chart_average-time_days {
	@include bold-24;
	display: block;
	margin-top: pem( 20, 24 );
}
