@import 'mi-colours';
@import 'helpers';

.select-year-list {
	padding: 0;
	margin: pem( 60 ) 0;
}

.select-year-list_item {

	margin-bottom: pem( 30 );

	.select-year-list_item_button {

		@include bold-19;
		padding: pem( 10, 19 ) pem( 40, 19 );
		color: #fff;
		background-color: $button-colour;
		text-decoration: none;
		display: inline-block;
		-webkit-box-shadow: 0 2px 0 #003618;
		-moz-box-shadow: 0 2px 0 #003618;
		box-shadow: 0 2px 0 #003618;

		&:hover {
			background-color: $green;
		}
	}
}
