@import 'mi-colours';

.year-selector {
	margin-bottom: pem( 20 );
}

.year-selector:after {
	content: "";
	display: table;
	clear: both;
}

.year-selector_text {

	@include core-14;
	color: $grey-1;
	float: left;
	line-height: pem( 34, 14 );
	margin-right: pem( 20, 14 );

	@include media( tablet ){
		line-height: pem( 34, 14 );
	}
}

.year-selector_year-list {
	padding: 0;
	margin: 0;
}

.year-selector_year-list_link {

	@include bold-19;
	background-color: $grey-2;
	border: 1px solid $grey-2;
	text-decoration: none;
	float: left;
	margin-right: 0.5em;
	padding: 0;
	text-align: center;
	min-width: 4.5em;
	line-height: pem( 32, 19 );

	@include media( tablet ){
		line-height: pem( 32, 19 );
	}

	&:visited,
	&:link {
		color: $link-colour;
	}

	&:focus {
		background-color: $grey-2;
	}
}

.year-selector_year-list_link--active {

	background-color: $focus-colour;
	color: #000;

	&:visited,
	&:link {
		color: #000;
	}
}
