@import 'colours';

@import 'mi-colours';
@import 'layout';
@import 'index';
@import 'sector';
@import 'gauge';
@import 'pie';
@import 'key';
@import 'sector-wins-list';
@import 'top-non-hvc-regions-sectors';
@import 'hvc-target-performance';
@import 'zero-target-perf-table';
@import 'overview-blocks';
@import 'overview-progress';
@import 'overseas-regions-overview';
@import 'sectors-overview';

.error-heading {
	background-color: rgba( $error-colour, 0.15 );
}

.unit-marker {
	font-size: 75%;
	font-weight: normal;
}

.page-heading {
	@include bold-36;
	margin-top: pem( 30, 36 );
}

.page-sub-heading {
	@include bold-24;
	margin-top: pem( 15, 24 );
}

.page-date {
	@include core-16;
	background-color: $date-bg;
	padding: pem( 5 );
	margin-top: pem( 15 );
}

.page-date--half {
	width: 50%;
}

.sub-heading-date {
	@include core-16;
	background-color: $date-bg;
	padding: pem( 2 ) pem( 5 );
	margin-top: pem( 5 );
	width: 50%;
}
