@import 'colours';

@import 'layout';

@import 'design-patterns/_buttons.scss';
@import 'elements/buttons';
@import 'elements/forms';
@import 'elements/forms/form-validation';
@import 'elements/elements-typography';

@import 'trade/components/button';

@import 'page/index';
@import 'page/sector';
@import 'page/sectors-overview';
@import 'page/overseas-regions-overview';
@import 'page/overseas-regions-countries';
@import 'page/overseas-regions-posts';
@import 'page/hvc';
@import 'page/win';
@import 'page/wins';
@import 'page/select-year';
@import 'page/select-dates';
@import 'page/uk-region';
@import 'page/uk-regions-overview';

@import 'partials/global-performance';

@import 'components/alpha-list';
@import 'components/hvc-target-performance';
@import 'components/hvc-target-performance-key';
@import 'components/monthly-performance-graph';
@import 'components/monthly-performance-key';
@import 'components/year-selector';
@import 'components/zero-target-perf-table';
@import 'components/region-performance-table';

@import 'error';
@import 'page-tabs';
@import 'target-progress-bar';
@import 'pie';
@import 'sector-wins-list';
@import 'top-markets';
@import 'overview-blocks';
@import 'overview-progress';
@import 'win-table';
@import 'hvc-group';
@import 'os-regions-tabs';

main {
	@include core-16;
}

.row-separator {
	margin-top: pem( 60, 16 );
}

.unit-marker {
	font-size: 75%;
	font-weight: normal;
}

.page-heading {
	@include bold-36;
	margin-top: pem( 20, 36 );
	margin-bottom: pem( 20, 36 );
}

.page-heading-secondary {
	@include bold-19;
	color: $grey-1;
}

.page-sub-heading {
	@include bold-24;
}

.page-date {
	@include bold-16;
	padding: pem( 5 );
}

.page-date--uk-regions-overview {
	margin-bottom: pem( 40, 16 );
}

.sub-heading-date {
	@include bold-16;
	padding: pem( 2 ) 0;
	margin-top: pem( 5 );
}

.column-date {
	@extend .page-date;
	margin-top: 0;
}

.financial-year_change-link {
	@include core-14;
	margin-left: pem( 5, 14 );
}

.section-title {
	@include bold-24;
	border-bottom: 2px solid #000;
	margin-bottom: pem( 10, 24 );
}

.footer-feedback-link {
	@include core-16;
}

@import 'print';
