<div class="key">
	<h3 class="key_heading">
		Key
	</h3>

	<dl class="key_list">
		<dt class="key_list_term">
			<span class="visually-hidden">Blue bar</span>
			<span class="key_list_bar key_list_bar--hvc"></span>
		</dt>
		<dd class="key_list_data">HVC confirmed value</dd>

		<dt class="key_list_term">
			<span class="visually-hidden">Grey bar</span>
			<span class="key_list_bar key_list_bar--unconfirmed"></span>
		</dt>
		<dd class="key_list_data">Unconfirmed value</dd>

		<dt class="key_list_term">
			<span class="visually-hidden">Blue arrow</span>
			<span class="key_list_arrow key_list_arrow--hvc"></span>
		</dt>
		<dd class="key_list_data">Over target confirmed</dd>

		<dt class="key_list_term">
			<span class="visually-hidden">Grey arrow</span>
			<span class="key_list_arrow key_list_arrow--unconfirmed"></span>
		</dt>
		<dd class="key_list_data">Over target unconfirmed</dd>
	</dl>

	<dl class="key_list">

		<dt class="key_list_term">
			<span class="visually-hidden">Green block</span>
			<span class="key_list_block key_list_block--green"></span>
		</dt>
		<dd class="key_list_data">
			Performance above 45%
		</dd>

		<dt class="key_list_term">
			<span class="visually-hidden">Amber block</span>
			<span class="key_list_block key_list_block--amber"></span>
		</dt>
		<dd class="key_list_data">
			Performance between 25% and 45%
		</dd>

		<dt class="key_list_term">
			<span class="visually-hidden">Red block</span>
			<span class="key_list_block key_list_block--red"></span>
		</dt>
		<dd class="key_list_data">
			Performance below 25%
		</dd>

		<dt class="key_list_term">
			<span class="visually-hidden">White block</span>
			<span class="key_list_block key_list_block--zero"></span>
		</dt>
		<dd class="key_list_data">
			HVCs with no target this financial year
		</dd>
	</dl>
</div>
