
<div class="top-non-hvc">
	<table class="top-non-hvc_table">
		<thead>
			<tr>
				<th class="top-non-hvc_table_heading top-non-hvc_table_heading--left">Market</th>
				<th class="top-non-hvc_table_heading top-non-hvc_table_heading--left">Sector (CDMS 255)</th>
				<th><span class="visually-hidden">Percent complete</span></th>
				<th class="top-non-hvc_table_heading">Total value of wins &pound;</th>
				<th class="top-non-hvc_table_heading">Number of wins</th>
				<th class="top-non-hvc_table_heading">Av. win value &pound;</th>
			</tr>
		</thead>
		<tbody>

			<tr class="top-non-hvc_table_markers-row top-non-hvc_table_markers-row--top">
				<td colspan="2"></td>
				<td>
				 	<div class="top-non-hvc_value-markers">
						<span class="top-non-hvc_value-markers_marker top-non-hvc_value-markers_marker--first">
							<span class="top-non-hvc_value-markers_marker_line"></span>
							<span class="visually-hidden">25% of value: </span>
							<span class="top-non-hvc_value-markers_marker_text">
								&pound;{{ topNonHvcScale.low | largeNumber }}
							</span>
						</span>
						<span class="top-non-hvc_value-markers_marker top-non-hvc_value-markers_marker--second">
							<span class="top-non-hvc_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 50% of value: </span>
							<span class="top-non-hvc_value-markers_marker_text">
								&pound;{{ topNonHvcScale.mid | largeNumber }}
							</span>
						</span>
						<span class="top-non-hvc_value-markers_marker top-non-hvc_value-markers_marker--third">
							<span class="top-non-hvc_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 100% of value: </span>
							<span class="top-non-hvc_value-markers_marker_text">
								&pound;{{ topNonHvcScale.high | largeNumber }}
							</span>
						</span>
					</div>
				</td>
				<td colspan="4"></td>
			</tr>

			{% for item in topNonHvc %}
			<tr class="top-non-hvc_table_row">
				<td class="top-non-hvc_table_cell top-non-hvc_table_cell--region">{{ item.region }}</td>
				<td class="top-non-hvc_table_cell top-non-hvc_table_cell--sector">{{ item.sector }}</td>
				<td class="top-non-hvc_table_cell top-non-hvc_table_cell--percent">
					<span class="visually-hidden">{{ item.percentComplete }}%</span>
					<span class="top-non-hvc_table_cell_bar" style="width:{{ item.percentComplete }}%"></span>
				</td>
				<td class="top-non-hvc_table_cell top-non-hvc_table_cell--total-value">{{ item.totalValue | largeNumber }}</td>
				<td class="top-non-hvc_table_cell top-non-hvc_table_cell--total-wins">{{ item.totalWins }}</td>
				<td class="top-non-hvc_table_cell top-non-hvc_table_cell--average-win-value">{{ item.averageWinValue | largeNumber }}</td>
			</tr>
			{% endfor %}

			<tr class="top-non-hvc_table_markers-row">
				<td colspan="2"></td>
				<td>
				 	<div class="top-non-hvc_value-markers">
						<span class="top-non-hvc_value-markers_marker top-non-hvc_value-markers_marker--first">
							<span class="top-non-hvc_value-markers_marker_line"></span>
							<span class="visually-hidden">25% of value: </span>
							<span class="top-non-hvc_value-markers_marker_text">
								&pound;{{ topNonHvcScale.low | largeNumber }}
							</span>
						</span>
						<span class="top-non-hvc_value-markers_marker top-non-hvc_value-markers_marker--second">
							<span class="top-non-hvc_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 50% of value: </span>
							<span class="top-non-hvc_value-markers_marker_text">
								&pound;{{ topNonHvcScale.mid | largeNumber }}
							</span>
						</span>
						<span class="top-non-hvc_value-markers_marker top-non-hvc_value-markers_marker--third">
							<span class="top-non-hvc_value-markers_marker_line"></span>
							<span class="visually-hidden">/ 100% of value: </span>
							<span class="top-non-hvc_value-markers_marker_text">
								&pound;{{ topNonHvcScale.high | largeNumber }}
							</span>
						</span>
					</div>
				</td>
				<td colspan="4"></td>
			</tr>
		</tbody>
	</table>


</div>
