{% extends 'layout.html' %}

{% set pageName %}HVC performance - {{ name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/top-markets.html' import topMarketsTable %}
{% from 'macros/hvc-target-performance.html' import hvcTargetPerformanceTable %}
{% from 'macros/hvc-performance-summary.html' import hvcPerformanceSummary %}
{% from 'macros/tabs/hvc.html' import tabs %}
{% from 'macros/pie-charts.html' import confirmedUnconfirmedPieChart %}
{% from 'macros/monthly-performance-key.html' import monthlyPerformanceKey %}
{% from 'macros/monthly-performance-graph.html' import monthlyPerformanceGraph %}

{% block page_content %}

	<h1 class="page-heading">{{ name }} <span class="page-heading_secondary">HVC</span></h1>
	<h2 class="page-date page-date--hvc">{{ financialYear( summary.dateRange ) }}</h2>

	{{ tabs( id, performance = true ) }}

	<section class="grid-row">
		<div class="column-half">
			<h4 class="hvc-heading hvc-heading--target">Total confirmed against target</h4>
			{{ hvcPerformanceSummary( hvcSummary ) }}
		</div>
		<div class="column-one-quarter">
			<h3 class="sector-overview_confirmed-heading">Confirmed and unconfirmed wins value</h3>
			{{ confirmedUnconfirmedPieChart( summary ) }}
		</div>
		<div class="column-one-quarter">
			<h3 class="hvc-rag-heading">% of HVC target</h3>
			<p class="hvc-rag hvc-rag--{{ summary.progress.status }}">{{ summary.progress.confirmed }}%</p>
			<p class="hvc-average-time_text">
				Average time to confirm <span class="hvc-average-time_value">{{ averageTimeToConfirm | pluralise( 'day' ) }}</span>
			</p>
		</div>
	</section>

	{% if hvcTargetPerformance -%}
	<section class="grid-row row-separator">
		<div class="column-single">
			<h2 class="hvc-heading">{{ name }} target performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( hvcTargetPerformance.dateRange ) }}</h3>
			{{ hvcTargetPerformanceTable( hvcTargetPerformance.withTarget ) }}
		</div>
	</section>
	{% endif -%}

	{% if monthlyPerformance -%}
	<section class="grid-row row-separator">
		<div class="column-two-thirds">
			<h2 class="hvc-heading">{{ name }} monthly performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( monthlyPerformance.dateRange ) }}</h3>
		</div>
		<div class="column-one-third">
			{{ monthlyPerformanceKey( monthlyPerformance.keys ) }}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			{{ monthlyPerformanceGraph( monthlyPerformance ) }}
		</div>
	</section>
	{% endif -%}


	{% if topMarkets.items.length %}
	<section class="grid-row row-separator">
		<div class="column-single">
			<h2 class="hvc-heading">{{ name }} top markets and sectors</h2>
			<h3 class="sub-heading-date">{{ financialYear( topMarkets.dateRange ) }}</h3>
			{{ topMarketsTable( topMarkets, 'hvc' ) }}
		</div>
	</section>
	{% endif %}

{%- endblock -%}

{%- block pageScript %}
	<script>
		mi.pages.hvc({
			progress: {{ hvcSummary.progress | dump | safe }}
		});
	</script>
{% endblock pageScript -%}
