{% extends 'layout.html' %}

{% set pageName %}{{ name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/top-markets.html' import topMarketsTable %}
{% from 'macros/hvc-target-performance.html' import hvcTargetPerformanceTable %}

{% block page_content %}

	<h1 class="page-heading">{{ name }} <span class="page-heading-secondary">HVC</span></h1>
	{% include 'partials/year-selector.html' %}
	<h2 class="page-date page-date--hvc">{{ financialYear( summary.dateRange ) }}</h2>

	<section class="grid-row">
		<div class="column-half">
			<h4 class="hvc-heading hvc-heading--target">Total confirmed against target</h4>
			{% include 'partials/hvc-performance-summary.html' -%}
		</div>
		<div class="column-one-quarter">
			<h3 class="sector-overview_confirmed-heading">Confirmed and unconfirmed wins value</h3>
			{% include 'partials/confirmed-vs-unconfirmed-wins.html' -%}
		</div>
		<div class="column-one-quarter">
			<h3 class="hvc-rag-heading">% of HVC target</h3>
			<p class="hvc-rag hvc-rag--{{ summary.progress.status }}">{{ summary.progress.confirmed }}%</p>
			<p class="hvc-average-time_text">
				Average time to confirm <span class="hvc-average-time_value">{{ averageTimeToConfirm | pluralise( 'day' ) }}</span>
			</p>
		</div>
	</section>

	{% if hvcTargetPerformance -%}
	<section class="grid-row row-separator">
		<div class="column-single">
			<h2 class="hvc-heading">{{ name }} target performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( hvcTargetPerformance.dateRange ) }}</h3>
			{{ hvcTargetPerformanceTable( hvcTargetPerformance.withTarget, linkHvc=linkHvc ) }}
		</div>
	</section>
	{% endif -%}

	{% if monthlyPerformance -%}
	<section class="grid-row row-separator">
		<div class="column-two-thirds">
			<h2 class="hvc-heading">{{ name }} monthly performance</h2>
			<h3 class="sub-heading-date">{{ financialYear( monthlyPerformance.dateRange ) }}</h3>
		</div>
		<div class="column-one-third">
			{% include 'partials/monthly-performance-key.html' %}
		</div>
	</section>

	<section class="grid-row">
		<div class="column-single">
			{% include 'partials/monthly-performance.html' %}
		</div>
	</section>
	{% endif -%}


	{% if topMarkets.items.length %}
	<section class="grid-row row-separator">
		<div class="column-single">
			<h2 class="hvc-heading">{{ name }} top markets and sectors</h2>
			<h3 class="sub-heading-date">{{ financialYear( topMarkets.dateRange ) }}</h3>
			{{ topMarketsTable( topMarkets, 'hvc' ) }}
		</div>
	</section>
	{% endif %}

{%- endblock -%}

{%- block pageScript %}
	<script>
		mi.pages.hvc({
			isOver: '{{ hvcSummary.progress.over }}',
			confirmedPercent: '{{ hvcSummary.progress.confirmed }}',
			unconfirmedPercent: '{{ hvcSummary.progress.confirmed }}'
		});
	</script>
{% endblock pageScript -%}
