{% extends 'layout.html' %}

{% set pageName %}HVC wins - {{ hvc.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/win-tables.html' import singleWinTable %}
{% from 'macros/tabs/hvc.html' import tabs %}

{% block page_content %}

	<h1 class="page-heading">
		{{ hvc.name }} <span class="page-heading-secondary">HVC</span>
	</h1>
	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( hvc.code, hvcWins = true ) }}

	{{ singleWinTable( 'HVC', nonHvcWins = wins, noNonHvcWinsMessage="There aren't any wins recorded for this HVC" ) }}

{% endblock %}
