{% extends 'layout.html' %}

{% set pageName %}HVC wins - {{ hvc.name | safe }}{% endset %}

{% from 'macros/dates.html' import financialYear %}
{% from 'macros/table-standard-types.html' import hvcWinTable %}
{% from 'macros/tabs/hvc.html' import tabs %}
{% from 'macros/page-heading.html' import pageHeading %}

{% block page_heading %}
	{{ pageHeading( hvc.name, subHeading = 'HVC' ) }}
{% endblock %}

{% block page_content %}

	<h2 class="page-date page-date--hvc">{{ financialYear( dateRange ) }}</h2>

	{{ tabs( hvc.code, hvcWins = true ) }}

	{{ hvcWinTable( 'HVC', wins, columns=winTableColumns.nonHvc, noRowsMessage="There aren't any wins recorded for this HVC", modifyer='non-hvc' ) }}

{% endblock %}
