{% extends 'layout.html' %}

{% block page_content %}

	<h1>
		Management Information - Export Wins
	</h1>

	<div class="grid-row">
		<div class="column-one-third">
			
			<h2 class="sector-list-heading">Sectors</h2>

			<a href="{{ uuid }}/sector-teams/overview/" class="sectors-overview-link">Overview</a>

			<ul class="sector-list">
			{% for team in sectorTeams %}
				<li><a href="{{ uuid }}/sector-teams/{{ team.id }}/">{{ team.name }}</a></li>

				{% if team.parent_sectors.length %}
					<ul class="sector-list_parent-sectors">
						{% for parentSector in team.parent_sectors %}
						<li>
							<a href="{{ uuid }}/parent-sectors/{{ parentSector.id }}/">{{ parentSector.name }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	
		<div class="column-one-third">
			
		</div>

		<div class="column-one-third">
			
			{% if regions.length %}

			<h2 class="sector-list-heading">Overseas Regions</h2>

			<a href="{{ uuid }}/regions/overview/" class="regions-overview-link">Overview</a>

			<ul class="sector-list">
			{% for region in regions %}
				<li><a href="{{ uuid }}/regions/{{ region.id }}/">{{ region.name }}</a></li>
			{% endfor %}
			</ul>

			{% endif %}
		</div>
	</div>

{% endblock %}
