{% extends 'layout.html' %}

{% set pageName='Homepage' %}

{% from 'macros/dates.html' import financialYear %}

{% block page_content %}

	<h1 class="page-heading">
		Export Wins performance
	</h1>

	{% include 'partials/year-selector.html' %}

	<h2 class="page-sub-heading">{{ selectedYear }} to {{ selectedYear + 1 }} financial year</h2>

	<div class="grid-row global-performance-heading-row">
		<div class="column-half">
			<h2 class="global-performance-heading">Global performance</h2>
		</div>
		<div class="column-half homepage-date-column">
			{{ financialYear( summary.dateRange ) }}
		</div>
	</div>

	<section class="global-performance-content">

		<div class="grid-row">
			<div class="column-one-third global-performance_hvc-progress">

				<h3 class="global-performance_hvc-progress_heading">Total value of HVC target</h3>
				<p class="global-performance_hvc-progress_figure">
					&pound;{{ summary.target | largeNumber }}
				</p>

			</div>
			<div class="column-one-third global-performance_hvc-progress">

				<h3 class="global-performance_hvc-progress_heading">HVC target achieved</h3>
				<p class="global-performance_hvc-progress_figure">
					{{ summary.progress.confirmed.percent }}%
				</p>

			</div>
		</div>
		<div class="grid-row">
			<div class="column-one-third">

				<h3 class="global-performance-figures_heading">Total value of confirmed<br>export wins</h3>
				<dl class="global-performance-figures">
					<dt class="visually-hidden">Total</dt>
					<dd class="global-performance-figures_headline-figure">
						&pound;{{ summary.wins.total.value.confirmed | largeNumber }}
					</dd>

					<dt class="global-performance-figures_breakdown-heading">HVC</dt>
					<dd class="global-performance-figures_breakdown-figure">
						{{ summary.wins.hvc.value.confirmed | largeNumber }}
					</dd>

					<dt class="global-performance-figures_breakdown-heading">Non HVC</dt>
					<dd class="global-performance-figures_breakdown-figure">
						{{ summary.wins.non_hvc.value.confirmed | largeNumber }}
					</dd>
				</dl>

			</div>
			<div class="column-one-third">

				<h3 class="global-performance-figures_heading">Total number of confirmed<br>export wins</h3>
				<dl class="global-performance-figures">
					<dt class="visually-hidden">Total</dt>
					<dd class="global-performance-figures_headline-figure">
						{{ summary.wins.total.number.confirmed }}
					</dd>

					<dt class="global-performance-figures_breakdown-heading">HVC</dt>
					<dd class="global-performance-figures_breakdown-figure">
						{{ summary.wins.hvc.number.confirmed }}
					</dd>

					<dt class="global-performance-figures_breakdown-heading">Non HVC</dt>
					<dd class="global-performance-figures_breakdown-figure">
						{{ summary.wins.non_hvc.number.confirmed }}
					</dd>
				</dl>

			</div>
		</div>
	</section>

	<div class="grid-row homepage-links-row">
		<div class="column-one-third">

			<h2 class="sector-list-heading"><a href="{{ urls.sectorTeamsOverview() }}">Sector Teams</a></h2>

			<ul class="sector-list" id="sector-teams-list">
			{% for team in sectorTeams %}
				<li class="sector-list_item"><a href="{{ urls.sectorTeam( team.id ) }}">{{ team.name }}</a>

				{%- if team.hvc_groups.length %}
					<ul class="sector-list_sub-list">
						{% for hvcGroup in team.hvc_groups %}
						<li>
							<a href="{{ urls.hvcGroup( hvcGroup.id ) }}">{{ hvcGroup.name }} HVCs</a>
						</li>
						{% endfor %}
					</ul>
				{% endif -%}

				</li>
			{% endfor %}
			</ul>
		</div>

		<div class="column-one-third">

			{% if overseasRegionGroups.length %}

			<h2 class="sector-list-heading"><a href="{{ urls.osRegionsOverview() }}">Overseas Regions</a></h2>

			<ul class="sector-group-list" id="os-regions-list">
			{% for group in overseasRegionGroups %}
				<li class="sector-group-list_item">
					{{ group.name }}
					<ul class="sector-list_sub-list">
					{% for region in group.regions %}
						<li><a href="{{ urls.osRegion( region.id ) }}">{{ region.name }}</a></li>
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			</ul>

			{% if globalHvcs.length %}
			<h3 class="global-hvc-heading">Global HVCs</h3>
			<ul class="global-hvc-list">
				{% for hvc in globalHvcs %}
					<li>
						<a href="{{ urls.hvc( hvc.code ) }}">{{ hvc.name }}</a>
					</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endif %}
		</div>

		<div class="column-one-third">

			{% if ukRegions.region_groups.length %}

			<h2 class="sector-list-heading"><a href="{{ urls.ukRegions() }}">UK Nations &amp; Regions</a></h2>

			<ul class="sector-group-list" id="uk-regions-list">
			{% for group in ukRegions.region_groups %}
				<li class="sector-group-list_item">
					{{ group.name }}
					<ul class="sector-list_sub-list">
						{% for region in group.regions %}
							<li><a href="{{ urls.ukRegion( region.id ) }}">{{ region.name }}</a></li>
						{% endfor %}
					</ul>
			{% endfor %}
			</ul>

			{% endif %}
		</div>
	</div>

{% endblock %}
