{% extends 'layouts/ukti_template.html' %}

{% set homepage_url = "/" %}
{% block service_name %}Data Hub{% endblock %}
{% block page_title %}MI - {{ pageName }}{% endblock page_title %}

{% block head %}
<!-- build:css(src) /public/css/app.min.css -->
	<link rel="stylesheet" href="/public/css/main.css">
<!-- endbuild -->
{% endblock head %}

{% block content %}
	<div class="page-content">

		<div class="phase-banner">
			<p>
				<strong class="phase-tag">BETA</strong>
				<span>This is a new service – your <a href="{{ urls.survey() }}">feedback</a> will help us to improve it.</span>
			</p>
		</div>

		<nav class="top-nav">
			<ul class="top-nav_list">
				<li class="top-nav_list_item">
					<a class="top-nav_link" href="{{ urls.index() }}">MI Export wins</a>
				</li>
				<li class="top-nav_list_item">
					{% if showInvestment -%}
					<a class="top-nav_link" href="{{ urls.investment.index() }}">MI Investment wins</a>
					{% endif -%}
				</li>
			</ul>
			{% if user.email -%}
			<span class="top-nav_username">User{% if user.internal %} (internal){% endif %}: {{ user.email }}</span>
			{%- endif %}
		</nav>

		{% block page_content %}{% endblock %}
	</div>
{% endblock %}

{% block footer %}

	<footer class="group js-footer footer--govuk" id="footer" role="contentinfo">
		<div class="footer-wrapper">
			<div class="footer-meta">
				<div class="footer-meta-inner">
					<p class="footer-feedback-link">If you have any issues or feedback please <a href="{{ urls.email() }}">contact the MI team</a></p>
			 		{% if faqLink -%}
					<ul>
						<li><a href="{{ faqLink }}">View our FAQs</a></li>
					</ul>
					{%- endif -%}
			</div>
		</div>
  </footer>
{% endblock %}

{% block body_end %}
	{%- block script -%}
	<!-- build:js(src) /public/js/jessie.min.js -->
	<script src="/public/js/vendor/jessie/jessie.js"></script>
	<!-- endbuild -->
	<!-- build:js(src) /public/js/app.min.js -->
		<script src="/public/js/mi.js"></script>
		<script src="/public/js/components/component.target-progress.js"></script>
		<script src="/public/js/pages/page.sector.js"></script>
		<script src="/public/js/pages/page.hvc.js"></script>
	<!-- endbuild -->
	{%- endblock script -%}

	{%- block pageScript %}{% endblock pageScript -%}

	{%- if analyticsId and not user.internal %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ analyticsId }}', 'auto');
		ga('send', 'pageview');
	</script>
	{%- endif -%}

{%- endblock body_end %}
